In [ ]:
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [ ]:
data1 = [['tom', 30, 1,1,0,0], ['nick', 35, 0,1,1,1], ['juli', 34, 1,1,0,1], ['Alex', 34, 1,0,0,0], ['Wei', 30, 0,0,1,1] ]
 

mentor = pd.DataFrame(data, columns = ['Name', 'Age', 'Java', 'Python', 'CSS', 'JavaScript'])
 

mentor

   Name  Age  Java  Python  CSS  JavaScript
0   tom   30     1       1    0           0
1  nick   35     0       1    1           1
2  juli   34     1       1    0           1
3  Alex   34     1       0    0           0
4   Wei   30     0       0    1           1

In [ ]:
data2 = [['A', 20, 1,0,0,1], ['B', 25, 0,0,1,0], ['C', 24, 0,1,0,1], ['D', 24, 0,0,1,0], ['E', 20, 1,0,1,0] ]
mentee = pd.DataFrame(data2, columns = ['Name', 'Age', 'Java', 'Python', 'CSS', 'JavaScript'])
 

mentee

  Name  Age  Java  Python  CSS  JavaScript
0    A   20     1       0    0           1
1    B   25     0       0    1           0
2    C   24     0       1    0           1
3    D   24     0       0    1           0
4    E   20     1       0    1           0

In [ ]:
model = NearestNeighbors(n_neighbors=2, algorithm='brute')  # because we only have 5 mentors so I let the n_neighbor=2, but when we have more data, I think we can increase the n_neighbor based on the stakeholder willing
model.fit(mentor.drop(['Name','Age'],axis=1))

NearestNeighbors(algorithm='brute', n_neighbors=2)

In [ ]:
n_dist, n_ind = model.kneighbors(mentee.drop(['Name','Age'],axis=1).head(1))
ind = list(n_ind[0])

In [ ]:

id_list = [1, 2]
mentor_list = []

for each in ind:
    mentor_list.append(mentor.iloc[each]["Name"])

recommendations = list(zip(id_list, mentor_list))

recommendations

[(1, 'juli'), (2, 'Alex')]

The 'recommendations' is list of mentors (Juli and Alex) matched for the first mentee.