# Installing Dependencies

In [39]:
import requests
import pandas as pd
import altair as alt
import json

# Connecting to Mongo for Underdogs data and Loading into Dataframes

In [40]:
mentees_df = pd.DataFrame(requests.post("http://underdog-devs-ds-a-dev.us-east-1.elasticbeanstalk.com/Mentees/read").json()["result"])[['tech_stack']]
mentors_df = pd.DataFrame(requests.post("http://underdog-devs-ds-a-dev.us-east-1.elasticbeanstalk.com/Mentors/read").json()["result"])[['tech_stack']]

mentees_df['user_role'] = 'Mentee'
mentors_df['user_role'] = 'Mentor'

In [41]:
mentees_df.head()

           tech_stack user_role
0        Design UI/UX    Mentee
1  Career Development    Mentee
2             Backend    Mentee
3             Backend    Mentee
4             Backend    Mentee

In [42]:
mentors_df.head()

                              tech_stack user_role
0                              [Android]    Mentor
1          [iOS, Frontend, Data Science]    Mentor
2                        [Frontend, iOS]    Mentor
3           [Design UI/UX, Data Science]    Mentor
4  [Design UI/UX, Data Science, Backend]    Mentor

#  checking tech_stack types

Mentees contains strings

In [ ]:
for i, l in enumerate(mentees_df['tech_stack']):
    print("list",i,"is",type(l))

list 0 is <class 'str'>
list 1 is <class 'str'>
list 2 is <class 'str'>
list 3 is <class 'str'>
list 4 is <class 'str'>
list 5 is <class 'str'>
list 6 is <class 'str'>
list 7 is <class 'str'>
list 8 is <class 'str'>
list 9 is <class 'str'>
list 10 is <class 'str'>
list 11 is <class 'str'>
list 12 is <class 'str'>
list 13 is <class 'str'>
list 14 is <class 'str'>
list 15 is <class 'str'>
list 16 is <class 'str'>
list 17 is <class 'str'>
list 18 is <class 'str'>
list 19 is <class 'str'>
list 20 is <class 'str'>
list 21 is <class 'str'>
list 22 is <class 'str'>
list 23 is <class 'str'>
list 24 is <class 'str'>
list 25 is <class 'str'>
list 26 is <class 'str'>
list 27 is <class 'str'>
list 28 is <class 'str'>
list 29 is <class 'str'>
list 30 is <class 'str'>
list 31 is <class 'str'>
list 32 is <class 'str'>
list 33 is <class 'str'>
list 34 is <class 'str'>
list 35 is <class 'str'>
list 36 is <class 'str'>
list 37 is <class 'str'>
list 38 is <class 'str'>
list 39 is <class 'str'>
list 40 is <class 'str'>
list 41 is <class 'str'>
list 42 is <class 'str'>
list 43 is <class 'str'>
list 44 is <class 'str'>
list 45 is <class 'str'>
list 46 is <class 'str'>
list 47 is <class 'str'>
list 48 is <class 'str'>
list 49 is <class 'str'>
list 50 is <class 'str'>
list 51 is <class 'str'>
list 52 is <class 'str'>
list 53 is <class 'str'>
list 54 is <class 'str'>
list 55 is <class 'str'>
list 56 is <class 'str'>
list 57 is <class 'str'>
list 58 is <class 'str'>
list 59 is <class 'str'>
list 60 is <class 'str'>
list 61 is <class 'str'>
list 62 is <class 'str'>
list 63 is <class 'str'>
list 64 is <class 'str'>
list 65 is <class 'str'>
list 66 is <class 'str'>
list 67 is <class 'str'>
list 68 is <class 'str'>
list 69 is <class 'str'>
list 70 is <class 'str'>
list 71 is <class 'str'>
list 72 is <class 'str'>
list 73 is <class 'str'>
list 74 is <class 'str'>
list 75 is <class 'str'>
list 76 is <class 'str'>
list 77 is <class 'str'>
list 78 is <class 'str'>
list 79 is <class 'str'>
list 80 is <class 'str'>
list 81 is <class 'str'>
list 82 is <class 'str'>
list 83 is <class 'str'>
list 84 is <class 'str'>
list 85 is <class 'str'>
list 86 is <class 'str'>
list 87 is <class 'str'>
list 88 is <class 'str'>
list 89 is <class 'str'>
list 90 is <class 'str'>
list 91 is <class 'str'>
list 92 is <class 'str'>
list 93 is <class 'str'>
list 94 is <class 'str'>
list 95 is <class 'str'>
list 96 is <class 'str'>
list 97 is <class 'str'>
list 98 is <class 'str'>
list 99 is <class 'str'>
list 100 is <class 'str'>
list 101 is <class 'str'>

Mentors contains lists

In [ ]:
for i, l in enumerate(mentors_df['tech_stack']):
    print("list",i,"is",type(l))

list 0 is <class 'list'>
list 1 is <class 'list'>
list 2 is <class 'list'>
list 3 is <class 'list'>
list 4 is <class 'list'>
list 5 is <class 'list'>
list 6 is <class 'list'>
list 7 is <class 'list'>
list 8 is <class 'list'>
list 9 is <class 'list'>
list 10 is <class 'list'>
list 11 is <class 'list'>
list 12 is <class 'list'>
list 13 is <class 'list'>
list 14 is <class 'list'>
list 15 is <class 'list'>
list 16 is <class 'list'>
list 17 is <class 'list'>
list 18 is <class 'list'>
list 19 is <class 'list'>
list 20 is <class 'list'>
list 21 is <class 'list'>
list 22 is <class 'list'>
list 23 is <class 'list'>
list 24 is <class 'list'>
list 25 is <class 'list'>
list 26 is <class 'list'>
list 27 is <class 'list'>
list 28 is <class 'list'>
list 29 is <class 'list'>
list 30 is <class 'list'>
list 31 is <class 'list'>
list 32 is <class 'list'>
list 33 is <class 'list'>
list 34 is <class 'list'>
list 35 is <class 'list'>
list 36 is <class 'list'>
list 37 is <class 'list'>
list 38 is <class 'list'>
list 39 is <class 'list'>
list 40 is <class 'list'>
list 41 is <class 'list'>
list 42 is <class 'list'>
list 43 is <class 'list'>
list 44 is <class 'list'>
list 45 is <class 'list'>
list 46 is <class 'list'>
list 47 is <class 'list'>
list 48 is <class 'float'>

We must drop null values in order to move on, otherwise they break the helper functions below

In [ ]:
mentees_df.shape

(102, 2)

In [ ]:
mentees_df = mentees_df.dropna()
mentees_df.shape

(102, 2)

In [ ]:
mentors_df.shape

(49, 2)

In [ ]:
mentors_df = mentors_df.dropna()
mentors_df.shape

(48, 2)

In order to one-hot-encode the stacks we must first convert all tech_stack objects to lists in order for it to work with  sklearn's MultiLabelBinarizer

# Converting mentee tech_stack strings to lists

In [ ]:
# Helper Function
# the dummy data currently in dataframe is mismatched in terms of how things
# are capitalized so we are also throwing a title() method so that we do not get
# duplicate columns later

def put_string_into_list(stack):
    return [stack.title()]

stack = 'Potato EGG salad'
put_string_into_list(stack)

['Potato Egg Salad']

In [ ]:
mentees_df['tech_stack'] = mentees_df['tech_stack'].apply(put_string_into_list)

In [ ]:
# Sanity check
mentees_df.head()

             tech_stack user_role
0        [Design Ui/Ux]    Mentee
1  [Career Development]    Mentee
2             [Backend]    Mentee
3             [Backend]    Mentee
4             [Backend]    Mentee

In [ ]:
# Sanity check
for i, l in enumerate(mentees_df['tech_stack']):
    print("list",i,"is",type(l))

list 0 is <class 'list'>
list 1 is <class 'list'>
list 2 is <class 'list'>
list 3 is <class 'list'>
list 4 is <class 'list'>
list 5 is <class 'list'>
list 6 is <class 'list'>
list 7 is <class 'list'>
list 8 is <class 'list'>
list 9 is <class 'list'>
list 10 is <class 'list'>
list 11 is <class 'list'>
list 12 is <class 'list'>
list 13 is <class 'list'>
list 14 is <class 'list'>
list 15 is <class 'list'>
list 16 is <class 'list'>
list 17 is <class 'list'>
list 18 is <class 'list'>
list 19 is <class 'list'>
list 20 is <class 'list'>
list 21 is <class 'list'>
list 22 is <class 'list'>
list 23 is <class 'list'>
list 24 is <class 'list'>
list 25 is <class 'list'>
list 26 is <class 'list'>
list 27 is <class 'list'>
list 28 is <class 'list'>
list 29 is <class 'list'>
list 30 is <class 'list'>
list 31 is <class 'list'>
list 32 is <class 'list'>
list 33 is <class 'list'>
list 34 is <class 'list'>
list 35 is <class 'list'>
list 36 is <class 'list'>
list 37 is <class 'list'>
list 38 is <class 'list'>
list 39 is <class 'list'>
list 40 is <class 'list'>
list 41 is <class 'list'>
list 42 is <class 'list'>
list 43 is <class 'list'>
list 44 is <class 'list'>
list 45 is <class 'list'>
list 46 is <class 'list'>
list 47 is <class 'list'>
list 48 is <class 'list'>
list 49 is <class 'list'>
list 50 is <class 'list'>
list 51 is <class 'list'>
list 52 is <class 'list'>
list 53 is <class 'list'>
list 54 is <class 'list'>
list 55 is <class 'list'>
list 56 is <class 'list'>
list 57 is <class 'list'>
list 58 is <class 'list'>
list 59 is <class 'list'>
list 60 is <class 'list'>
list 61 is <class 'list'>
list 62 is <class 'list'>
list 63 is <class 'list'>
list 64 is <class 'list'>
list 65 is <class 'list'>
list 66 is <class 'list'>
list 67 is <class 'list'>
list 68 is <class 'list'>
list 69 is <class 'list'>
list 70 is <class 'list'>
list 71 is <class 'list'>
list 72 is <class 'list'>
list 73 is <class 'list'>
list 74 is <class 'list'>
list 75 is <class 'list'>
list 76 is <class 'list'>
list 77 is <class 'list'>
list 78 is <class 'list'>
list 79 is <class 'list'>
list 80 is <class 'list'>
list 81 is <class 'list'>
list 82 is <class 'list'>
list 83 is <class 'list'>
list 84 is <class 'list'>
list 85 is <class 'list'>
list 86 is <class 'list'>
list 87 is <class 'list'>
list 88 is <class 'list'>
list 89 is <class 'list'>
list 90 is <class 'list'>
list 91 is <class 'list'>
list 92 is <class 'list'>
list 93 is <class 'list'>
list 94 is <class 'list'>
list 95 is <class 'list'>
list 96 is <class 'list'>
list 97 is <class 'list'>
list 98 is <class 'list'>
list 99 is <class 'list'>
list 100 is <class 'list'>
list 101 is <class 'list'>

# Uppercasing all entries in mentors_df so there are no duplicate columns when we concatenate

In [ ]:
mentors_df.tail()

             tech_stack user_role
43  [backend, frontend]    Mentor
44  [backend, frontend]    Mentor
45  [backend, frontend]    Mentor
46  [backend, frontend]    Mentor
47             [string]    Mentor

In [ ]:
# Helper Function

def stack_title_case(stack_names):
    return [stack.title() for stack in stack_names]

stack_names = ['frontend', 'data science']
stack_title_case(stack_names)

['Frontend', 'Data Science']

In [ ]:
mentors_df['tech_stack'] = mentors_df['tech_stack'].apply(stack_title_case)

In [ ]:
mentors_df.tail()

             tech_stack user_role
43  [Backend, Frontend]    Mentor
44  [Backend, Frontend]    Mentor
45  [Backend, Frontend]    Mentor
46  [Backend, Frontend]    Mentor
47             [String]    Mentor

In [ ]:
for i, l in enumerate(mentors_df['tech_stack']):
    print("list",i,"is",type(l))

list 0 is <class 'list'>
list 1 is <class 'list'>
list 2 is <class 'list'>
list 3 is <class 'list'>
list 4 is <class 'list'>
list 5 is <class 'list'>
list 6 is <class 'list'>
list 7 is <class 'list'>
list 8 is <class 'list'>
list 9 is <class 'list'>
list 10 is <class 'list'>
list 11 is <class 'list'>
list 12 is <class 'list'>
list 13 is <class 'list'>
list 14 is <class 'list'>
list 15 is <class 'list'>
list 16 is <class 'list'>
list 17 is <class 'list'>
list 18 is <class 'list'>
list 19 is <class 'list'>
list 20 is <class 'list'>
list 21 is <class 'list'>
list 22 is <class 'list'>
list 23 is <class 'list'>
list 24 is <class 'list'>
list 25 is <class 'list'>
list 26 is <class 'list'>
list 27 is <class 'list'>
list 28 is <class 'list'>
list 29 is <class 'list'>
list 30 is <class 'list'>
list 31 is <class 'list'>
list 32 is <class 'list'>
list 33 is <class 'list'>
list 34 is <class 'list'>
list 35 is <class 'list'>
list 36 is <class 'list'>
list 37 is <class 'list'>
list 38 is <class 'list'>
list 39 is <class 'list'>
list 40 is <class 'list'>
list 41 is <class 'list'>
list 42 is <class 'list'>
list 43 is <class 'list'>
list 44 is <class 'list'>
list 45 is <class 'list'>
list 46 is <class 'list'>
list 47 is <class 'list'>

# Separate Mentee and Mentor OHE dataframes

Mentees DF

In [ ]:
mentees_df.shape

(102, 2)

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
new_mentees_df = mentees_df.join(pd.DataFrame(mlb.fit_transform(mentees_df['tech_stack']),
                          columns=mlb.classes_,
                          index=mentees_df.index))

In [ ]:
new_mentees_df

,tech_stack,user_role,Android,Backend,Career Development,Data Science,Design Ui/Ux,Frontend,Ios,String
0,[Design Ui/Ux],Mentee,0,0,0,0,1,0,0,0
1,[Career Development],Mentee,0,0,1,0,0,0,0,0
2,[Backend],Mentee,0,1,0,0,0,0,0,0
3,[Backend],Mentee,0,1,0,0,0,0,0,0
4,[Backend],Mentee,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
97,[Data Science],Mentee,0,0,0,1,0,0,0,0
98,[Data Science],Mentee,0,0,0,1,0,0,0,0
99,[Frontend],Mentee,0,0,0,0,0,1,0,0
100,[String],Mentee,0,0,0,0,0,0,0,1
101,[Ios],Mentee,0,0,0,0,0,0,1,0

In [ ]:
final_mentees = new_mentees_df.drop(columns= ['String'])

# Clean up column titles for better visualization display
final_mentees.rename(columns={"Ios": "iOS", "Design Ui/Ux": "Design UI/UX", "user_role": "User Role"}, inplace=True)

In [ ]:
# Use this one for graphs
final_mentees

,tech_stack,User Role,Android,Backend,Career Development,Data Science,Design UI/UX,Frontend,iOS
0,[Design Ui/Ux],Mentee,0,0,0,0,1,0,0
1,[Career Development],Mentee,0,0,1,0,0,0,0
2,[Backend],Mentee,0,1,0,0,0,0,0
3,[Backend],Mentee,0,1,0,0,0,0,0
4,[Backend],Mentee,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
97,[Data Science],Mentee,0,0,0,1,0,0,0
98,[Data Science],Mentee,0,0,0,1,0,0,0
99,[Frontend],Mentee,0,0,0,0,0,1,0
100,[String],Mentee,0,0,0,0,0,0,0
101,[Ios],Mentee,0,0,0,0,0,0,1

In [ ]:
final_mentees.shape

(102, 9)

Mentors DF

In [ ]:
mentors_df.shape

(48, 2)

In [ ]:
new_mentors_df = mentors_df.join(pd.DataFrame(mlb.fit_transform(mentors_df['tech_stack']),
                          columns=mlb.classes_,
                          index=mentors_df.index))

In [ ]:
new_mentors_df

,tech_stack,user_role,Android,Backend,Career Development,Data Science,Design Ui/Ux,Frontend,Ios,String
0,[Android],Mentor,1,0,0,0,0,0,0,0
1,"[Ios, Frontend, Data Science]",Mentor,0,0,0,1,0,1,1,0
2,"[Frontend, Ios]",Mentor,0,0,0,0,0,1,1,0
3,"[Design Ui/Ux, Data Science]",Mentor,0,0,0,1,1,0,0,0
4,"[Design Ui/Ux, Data Science, Backend]",Mentor,0,1,0,1,1,0,0,0
5,"[Ios, Design Ui/Ux]",Mentor,0,0,0,0,1,0,1,0
6,"[Data Science, Frontend]",Mentor,0,0,0,1,0,1,0,0
7,"[Backend, Design Ui/Ux]",Mentor,0,1,0,0,1,0,0,0
8,"[Career Development, Ios]",Mentor,0,0,1,0,0,0,1,0
9,[Android],Mentor,1,0,0,0,0,0,0,0
10,"[Backend, Android, Ios]",Mentor,1,1,0,0,0,0,1,0
11,[Career Development],Mentor,0,0,1,0,0,0,0,0
12,"[Career Development, Frontend]",Mentor,0,0,1,0,0,1,0,0
13,"[Android, Data Science]",Mentor,1,0,0,1,0,0,0,0
14,[Backend],Mentor,0,1,0,0,0,0,0,0
15,"[Data Science, Backend]",Mentor,0,1,0,1,0,0,0,0
16,"[Career Development, Backend, Design Ui/Ux]",Mentor,0,1,1,0,1,0,0,0
17,"[Ios, Frontend]",Mentor,0,0,0,0,0,1,1,0
18,[Design Ui/Ux],Mentor,0,0,0,0,1,0,0,0
19,[Frontend],Mentor,0,0,0,0,0,1,0,0
20,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
21,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
22,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
23,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
24,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
25,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
26,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
27,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
28,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
29,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
30,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
31,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
32,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
33,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
34,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
35,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
36,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
37,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
38,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
39,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
40,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
41,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
42,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
43,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
44,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
45,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
46,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0,0
47,[String],Mentor,0,0,0,0,0,0,0,1

In [ ]:
final_mentors = new_mentors_df.drop(columns= ['String'])

# Clean up column titles for better visualization display
final_mentors.rename(columns={"Ios": "iOS", "Design Ui/Ux": "Design UI/UX", "user_role": "User Role"}, inplace=True)

In [ ]:
# Use this one for graphs
final_mentors

,tech_stack,User Role,Android,Backend,Career Development,Data Science,Design UI/UX,Frontend,iOS
0,[Android],Mentor,1,0,0,0,0,0,0
1,"[Ios, Frontend, Data Science]",Mentor,0,0,0,1,0,1,1
2,"[Frontend, Ios]",Mentor,0,0,0,0,0,1,1
3,"[Design Ui/Ux, Data Science]",Mentor,0,0,0,1,1,0,0
4,"[Design Ui/Ux, Data Science, Backend]",Mentor,0,1,0,1,1,0,0
5,"[Ios, Design Ui/Ux]",Mentor,0,0,0,0,1,0,1
6,"[Data Science, Frontend]",Mentor,0,0,0,1,0,1,0
7,"[Backend, Design Ui/Ux]",Mentor,0,1,0,0,1,0,0
8,"[Career Development, Ios]",Mentor,0,0,1,0,0,0,1
9,[Android],Mentor,1,0,0,0,0,0,0
10,"[Backend, Android, Ios]",Mentor,1,1,0,0,0,0,1
11,[Career Development],Mentor,0,0,1,0,0,0,0
12,"[Career Development, Frontend]",Mentor,0,0,1,0,0,1,0
13,"[Android, Data Science]",Mentor,1,0,0,1,0,0,0
14,[Backend],Mentor,0,1,0,0,0,0,0
15,"[Data Science, Backend]",Mentor,0,1,0,1,0,0,0
16,"[Career Development, Backend, Design Ui/Ux]",Mentor,0,1,1,0,1,0,0
17,"[Ios, Frontend]",Mentor,0,0,0,0,0,1,1
18,[Design Ui/Ux],Mentor,0,0,0,0,1,0,0
19,[Frontend],Mentor,0,0,0,0,0,1,0
20,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
21,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
22,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
23,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
24,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
25,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
26,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
27,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
28,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
29,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
30,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
31,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
32,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
33,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
34,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
35,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
36,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
37,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
38,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
39,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
40,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
41,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
42,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
43,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
44,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
45,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
46,"[Backend, Frontend]",Mentor,0,1,0,0,0,1,0
47,[String],Mentor,0,0,0,0,0,0,0

In [ ]:
final_mentors.shape

(48, 9)

# Getting Sum Totals

In [ ]:
final_mentees.sum()

tech_stack            [Design Ui/Ux, Career Development, Backend, Ba...
User Role             MenteeMenteeMenteeMenteeMenteeMenteeMenteeMent...
Android                                                              16
Backend                                                              13
Career Development                                                   15
Data Science                                                         12
Design UI/UX                                                         13
Frontend                                                             18
iOS                                                                  14
dtype: object

In [ ]:
final_mentors.sum()

tech_stack            [Android, Ios, Frontend, Data Science, Fronten...
User Role             MentorMentorMentorMentorMentorMentorMentorMent...
Android                                                               4
Backend                                                              33
Career Development                                                    4
Data Science                                                          6
Design UI/UX                                                          6
Frontend                                                             33
iOS                                                                   6
dtype: object

In [ ]:
# Get the Mentee sums into a DF
mentees_stacks_sums = pd.DataFrame(final_mentees.sum())
mentees_stacks_sums.reset_index(inplace=True)
mentees_stacks_sums.rename(columns={"index": "Tech Stack", 0: "Count"}, inplace=True)
mentees_stacks_sums.drop(index=[0, 1], inplace=True)
mentees_stacks_sums["User Role"] = "Mentee"

mentees_stacks_sums

           Tech Stack Count User Role
2             Android    16    Mentee
3             Backend    13    Mentee
4  Career Development    15    Mentee
5        Data Science    12    Mentee
6        Design UI/UX    13    Mentee
7            Frontend    18    Mentee
8                 iOS    14    Mentee

In [ ]:
# Get the Mentor sums into a DF
mentors_stacks_sums = pd.DataFrame(final_mentors.sum())
mentors_stacks_sums.reset_index(inplace=True)
mentors_stacks_sums.rename(columns={"index": "Tech Stack", 0: "Count"}, inplace=True)
mentors_stacks_sums.drop(index=[0, 1], inplace=True)
mentors_stacks_sums["User Role"] = "Mentor"

mentors_stacks_sums

           Tech Stack Count User Role
2             Android     4    Mentor
3             Backend    33    Mentor
4  Career Development     4    Mentor
5        Data Science     6    Mentor
6        Design UI/UX     6    Mentor
7            Frontend    33    Mentor
8                 iOS     6    Mentor

In [ ]:
# Get the final DF for visualizations
DF = pd.concat([mentees_stacks_sums, mentors_stacks_sums], axis=0)
DF

           Tech Stack Count User Role
2             Android    16    Mentee
3             Backend    13    Mentee
4  Career Development    15    Mentee
5        Data Science    12    Mentee
6        Design UI/UX    13    Mentee
7            Frontend    18    Mentee
8                 iOS    14    Mentee
2             Android     4    Mentor
3             Backend    33    Mentor
4  Career Development     4    Mentor
5        Data Science     6    Mentor
6        Design UI/UX     6    Mentor
7            Frontend    33    Mentor
8                 iOS     6    Mentor

# Final Visualization

In [ ]:
alt.Chart(DF, title="Tech Stack Counts by Role").mark_bar(size=30).encode(
    column=alt.Column('Tech Stack'),
    x=alt.X('User Role', axis=alt.Axis(labels=False, title=None)),
    y=alt.Y('Count', scale=alt.Scale(domain=(0, (DF["Count"].max() + 1)))),
    color=alt.Color('User Role', scale=alt.Scale(scheme="dark2")),
    tooltip=alt.Tooltip(list(DF.columns)[1:])).properties(width=100).configure_title(fontSize=18)

alt.Chart(...)