In [1]:
%cd C:\Users\New\PycharmProjects\underdog-devs-ds-a\

C:\Users\New\PycharmProjects\underdog-devs-ds-a

In [2]:
#!dir

In [3]:
import pandas as pd
from altair import Chart, Tooltip, Color, X, Y
from pandas import DataFrame

In [4]:
from app.data import MongoDB

In [5]:
db = MongoDB()

In [6]:
db

In [7]:
mentee_referrals = pd.DataFrame(
    db.projection('Mentees', {'is_active': True, 'validate_status': 'approved'}, {'referred_by': True}))

In [8]:
mentees = pd.DataFrame(db.read('Mentees'))

In [9]:
mentees_activity = mentees.filter(['profile_id', 'is_active'])

In [10]:
mentees_activity.set_index('profile_id', inplace = True)

In [11]:
mentees_activity['mentee_mentor'] = 'mentee'

In [12]:
mentees_activity

                  is_active mentee_mentor
profile_id
44IeQRFl5413Yx20       True        mentee
703BY82qg008eNsk       True        mentee
IN766h0tJ5T2r60r       True        mentee
65Cyxxn25e52p10Y      False        mentee
n00A4OW856Wp66PX       True        mentee
...                     ...           ...
m0BBRg7De1226h41       True        mentee
UQ5vv27Tv744s1J5       True        mentee
8Z6ye3Q1f7XzZ617       True        mentee
rCX4s2c725s22IQ3      False        mentee
1p14S751ZIL83uLt       True        mentee

[100 rows x 2 columns]

In [13]:
mentors = pd.DataFrame(db.read('Mentors'))

In [14]:
mentors = mentors.query("first_name != 'string'")

In [15]:
mentors_2 = mentors.filter(['profile_id', 'is_active'])

In [16]:
mentors_2['mentee_mentor'] = 'mentor'

In [17]:
mentors_activity = mentors_2.set_index('profile_id')

In [22]:
mentors_activity

                  is_active mentee_mentor
profile_id
02S13RsUw2F1F6P7       True        mentor
A6N11YQ21vslq841       True        mentor
Nhu37070g1nM5sh7       True        mentor
S2X8Ln4kUy778E17       True        mentor
77KK63o7px6u03ZD      False        mentor
M58227A8Ut2hcb2k       True        mentor
0Zy0yG13R7ZV8t27      False        mentor
3W8kK627H827sfTq       True        mentor
C07J8832qla27TLC       True        mentor
p76078sYeei3c2I8      False        mentor
DJ56HPt07FH5661X       True        mentor
xym0227A8X421kVT       True        mentor
30qm50a1TUQ53Sg4      False        mentor
M517M2e5ouM216ap       True        mentor
338060ybLea0L6qa       True        mentor
66I4C338V8p4uoxA       True        mentor
I5O758Xn3V7F4mA6       True        mentor
M8EM6G44ZQOr4212       True        mentor

In [23]:
activity = pd.concat([mentees_activity, mentors_activity])

In [24]:
activity

                  is_active mentee_mentor
profile_id
44IeQRFl5413Yx20       True        mentee
703BY82qg008eNsk       True        mentee
IN766h0tJ5T2r60r       True        mentee
65Cyxxn25e52p10Y      False        mentee
n00A4OW856Wp66PX       True        mentee
...                     ...           ...
M517M2e5ouM216ap       True        mentor
338060ybLea0L6qa       True        mentor
66I4C338V8p4uoxA       True        mentor
I5O758Xn3V7F4mA6       True        mentor
M8EM6G44ZQOr4212       True        mentor

[118 rows x 2 columns]

In [25]:
meetings_df = pd.DataFrame(db.read("Meetings"))

In [26]:
meetings_missed = meetings_df['meeting_missed_by_mentee']

In [27]:
meetings_missed

0        Missed
1        Missed
2        Missed
3      Attended
4        Missed
         ...
145    Attended
146      Missed
147      Missed
148    Attended
149      Missed
Name: meeting_missed_by_mentee, Length: 150, dtype: object