In [27]:
!pip install Fortuna

Requirement already satisfied: Fortuna in /usr/local/lib/python3.7/dist-packages (4.3.3)

- Track 70/30 or 80/20
- Age 18-60
- Gender 80/18/2

In [28]:
!pip install MonkeyScope

Requirement already satisfied: MonkeyScope in /usr/local/lib/python3.7/dist-packages (1.4.4)

- Importing Fortuna library

In [29]:
from Fortuna import random_int,percent_true,RandomValue

In [30]:
random_int(1,20)

4

In [31]:
random_track = lambda : "Web" if percent_true(80) else "DS"

In [32]:
random_track()

'Web'

- Importing MonkeyScope Library

In [33]:
from MonkeyScope import distribution

In [34]:
distribution(random_track)

Distribution of 1000000 samples:
 DS: 19.9737%
 Web: 80.0263%

In [35]:
random_gender = lambda : "Male" if percent_true(80) else "Female" if percent_true(90) else "Non-Binary"

In [36]:
distribution(random_gender)

Distribution of 1000000 samples:
 Female: 18.0074%
 Male: 79.9873%
 Non-Binary: 2.0053%

- Poisson Distribution is a Discrete Distribution. It estimates how many times an event can happen in a specified time

In [37]:
from Fortuna import front_poisson

In [38]:
distribution(front_poisson,20)

Statistics of 1000 samples:
 Minimum: 0
 Median: 5
 Maximum: 14
 Mean: 5.026
 Std Deviation: 2.333831778593044
Distribution of 1000000 samples:
 0: 0.6748%
 1: 3.3269%
 2: 8.4276%
 3: 13.9742%
 4: 17.5622%
 5: 17.5357%
 6: 14.6417%
 7: 10.5159%
 8: 6.5046%
 9: 3.6323%
 10: 1.8041%
 11: 0.8324%
 12: 0.3552%
 13: 0.1384%
 14: 0.0496%
 15: 0.017%
 16: 0.0057%
 17: 0.0012%
 18: 0.0002%
 19: 0.0003%

In [39]:
random_age = RandomValue(range(18,61),front_poisson)

In [40]:
random_age()

26

In [41]:
distribution(random_age)

Statistics of 1000 samples:
 Minimum: 19
 Median: 29
 Maximum: 43
 Mean: 28.869
 Std Deviation: 3.301020408257988
Distribution of 1000000 samples:
 18: 0.0016%
 19: 0.0205%
 20: 0.1199%
 21: 0.4314%
 22: 1.2%
 23: 2.5626%
 24: 4.5924%
 25: 7.0726%
 26: 9.4983%
 27: 11.3353%
 28: 12.2094%
 29: 11.9303%
 30: 10.604%
 31: 8.7868%
 32: 6.7692%
 33: 4.8771%
 34: 3.2563%
 35: 2.0644%
 36: 1.2455%
 37: 0.6974%
 38: 0.3652%
 39: 0.1874%
 40: 0.0948%
 41: 0.0436%
 42: 0.0192%
 43: 0.0082%
 44: 0.0037%
 45: 0.0016%
 46: 0.0006%
 47: 0.0005%
 48: 0.0001%
 49: 0.0001%

- CumulativeWeightedChoice takes a set of numbers representing the weight that are Cumulative in nature.
- RelativeWeightedChoice takes a set of numbers representing the weight that are Relative in nature

In [42]:
from Fortuna import CumulativeWeightedChoice, RelativeWeightedChoice

In [43]:
class RandomUser:
    random_age = RandomValue(
        range(18,60),
        front_poisson,
    )
    random_track = CumulativeWeightedChoice((
        (80, "Web"),
        (100, "DS"),
    ))
    random_gender = RelativeWeightedChoice((
        (80, "Male"),
        (18, "Female"),
        (2, "Non-binary"),      
    ))

    def __init__(self):
        self.age = self.random_age()
        self.track = self.random_track()
        self.gender = self.random_gender()

    def __repr__(self):
        output = (
            f"Track : {self.track}",
            f"Age : {self.age}",
            f"Gender : {self.gender}",
        )
        return "\n" .join(output)

    def to_dict(self):
        return {
            "Track" : self.track,
            "Age" : self.age,
            "Gender" : self.gender
            
        }

In [44]:
user = RandomUser()
user

Track : Web
Age : 32
Gender : Male

In [45]:
import pandas as pd

In [46]:
df = pd.DataFrame(RandomUser().to_dict() for _ in range(1000000))

- Generated Data frame with 1 million rows and 3 columns Track,Age and Gender

In [47]:
df

       Track  Age      Gender
0        Web   34  Non-binary
1        Web   28        Male
2        Web   27        Male
3        Web   29        Male
4        Web   30        Male
...      ...  ...         ...
999995   Web   36      Female
999996    DS   30      Female
999997   Web   29        Male
999998   Web   26      Female
999999   Web   23      Female

[1000000 rows x 3 columns]