## Generating mock review data where mentor gives review to mentee

## Generating mock review Data

In [1]:
import pandas as pd
import random as r

ModuleNotFoundError: No module named 'pandas'

In [2]:
df = pd.read_csv('/notebooks/review.csv')

NameError: name 'pd' is not defined

In [10]:
df.drop(columns=['Id','Label'],inplace=True)
df

                                                Review
0                                 good and interesting
1    This class is very helpful to me. Currently, I...
2    like!Prof and TAs are helpful and the discussi...
3    Easy to follow and includes a lot basic and im...
4    Really nice teacher!I could got the point eazl...
..                                                 ...
596  Good content but the Chinese translation is ba...
597  Not difficult to understand,interesting,helpfu...
598  very useful course. And thank for professor's ...
599  An interesting course and thank you for transl...
600  The course is more about business competitive ...

[601 rows x 1 columns]

## Adding Mentee And Mentor ID's Mock Data to the data frame

In [19]:
df['mentor_id'] =["O" + str(hash(r.randint(2000000, 70000000000000000))) for _ in range(df.shape[0]) ]

In [21]:
df['mentee_id'] = ["E" + str(r.randint(1000000, 70000000000000)) for _ in range(df.shape[0])]

In [22]:
df

                                                Review  ...        mentee_id
0                                 good and interesting  ...   E2253310772505
1    This class is very helpful to me. Currently, I...  ...  E62995274542680
2    like!Prof and TAs are helpful and the discussi...  ...  E44496784455807
3    Easy to follow and includes a lot basic and im...  ...  E41117732388236
4    Really nice teacher!I could got the point eazl...  ...  E62653502156821
..                                                 ...  ...              ...
596  Good content but the Chinese translation is ba...  ...  E45309315538924
597  Not difficult to understand,interesting,helpfu...  ...  E17227627416228
598  very useful course. And thank for professor's ...  ...  E20974998040684
599  An interesting course and thank you for transl...  ...  E50188986302970
600  The course is more about business competitive ...  ...  E55545441943301

[601 rows x 3 columns]