In [3]:
pip install Fortuna

Collecting Fortuna
  Downloading Fortuna-4.3.3.tar.gz (205 kB)
     |████████████████████████████████| 205 kB 9.8 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Building wheels for collected packages: Fortuna
  Building wheel for Fortuna (PEP 517) ... done
  Created wheel for Fortuna: filename=Fortuna-4.3.3-cp37-cp37m-linux_x86_64.whl size=548610 sha256=60e8c255d240f72e8c54274aa1489db52e243fa300a54e12da0136b02ab88c3b
  Stored in directory: /root/.cache/pip/wheels/e3/56/35/7372bb97ff2cf9efa75516573b096ace93af07f7697172057a
Successfully built Fortuna
Installing collected packages: Fortuna
Successfully installed Fortuna-4.3.3

- Track 70/30 or 80/20
- Age 18-60
- Gender 80/18/2

In [4]:
!pip install MonkeyScope

Collecting MonkeyScope
  Downloading MonkeyScope-1.4.4.tar.gz (64 kB)
     |████████████████████████████████| 64 kB 2.4 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Building wheels for collected packages: MonkeyScope
  Building wheel for MonkeyScope (PEP 517) ... done
  Created wheel for MonkeyScope: filename=MonkeyScope-1.4.4-cp37-cp37m-linux_x86_64.whl size=164664 sha256=aa33a1f2b6c6074579791a1be11a07a0e24d66e1c7940d97eb7049343dd4ed2c
  Stored in directory: /root/.cache/pip/wheels/94/16/b2/f5362876169718becdaa85b6de728271fcfbfff898b135009b
Successfully built MonkeyScope
Installing collected packages: MonkeyScope
Successfully installed MonkeyScope-1.4.4

In [5]:
from Fortuna import random_int,percent_true,RandomValue

In [6]:
random_int(1,20)

11

In [7]:
random_track = lambda : "Web" if percent_true(80) else "DS"

In [8]:
random_track()

'Web'

In [9]:
from MonkeyScope import distribution

In [10]:
distribution(random_track)

Distribution of 1000000 samples:
 DS: 20.0004%
 Web: 79.9996%

In [11]:
random_gender = lambda : "Male" if percent_true(80) else "Female" if percent_true(90) else "Non-Binary"

In [12]:
distribution(random_gender)

Distribution of 1000000 samples:
 Female: 17.9193%
 Male: 80.0748%
 Non-Binary: 2.0059%

In [13]:
from Fortuna import front_poisson

In [14]:
distribution(front_poisson,20)

Statistics of 1000 samples:
 Minimum: 0
 Median: 5
 Maximum: 15
 Mean: 5.035
 Std Deviation: 2.2326575554168087
Distribution of 1000000 samples:
 0: 0.6623%
 1: 3.332%
 2: 8.4215%
 3: 14.1118%
 4: 17.5029%
 5: 17.5729%
 6: 14.5855%
 7: 10.4403%
 8: 6.5508%
 9: 3.6106%
 10: 1.8176%
 11: 0.8469%
 12: 0.3399%
 13: 0.1365%
 14: 0.0455%
 15: 0.0164%
 16: 0.0048%
 17: 0.0012%
 18: 0.0004%
 19: 0.0002%

In [15]:
random_age = RandomValue(range(18,61),front_poisson)

In [16]:
random_age()

26

In [17]:
distribution(random_age)

Statistics of 1000 samples:
 Minimum: 20
 Median: 28
 Maximum: 38
 Mean: 28.641
 Std Deviation: 3.286779871229882
Distribution of 1000000 samples:
 18: 0.0018%
 19: 0.0239%
 20: 0.1208%
 21: 0.4353%
 22: 1.1919%
 23: 2.5426%
 24: 4.5612%
 25: 7.049%
 26: 9.5187%
 27: 11.3582%
 28: 12.0988%
 29: 11.9782%
 30: 10.696%
 31: 8.828%
 32: 6.7443%
 33: 4.8251%
 34: 3.2874%
 35: 2.0885%
 36: 1.2188%
 37: 0.6906%
 38: 0.371%
 39: 0.1947%
 40: 0.0963%
 41: 0.0443%
 42: 0.0191%
 43: 0.009%
 44: 0.003%
 45: 0.0019%
 46: 0.001%
 47: 0.0004%
 48: 0.0002%

In [18]:
from Fortuna import CumulativeWeightedChoice, RelativeWeightedChoice

In [19]:
class RandomUser:
    random_age = RandomValue(
        range(18,60),
        front_poisson,
    )
    random_track = CumulativeWeightedChoice((
        (80, "Web"),
        (100, "DS"),
    ))
    random_gender = RelativeWeightedChoice((
        (80, "Male"),
        (18, "Female"),
        (2, "Non-binary"),      
    ))

    def __init__(self):
        self.age = self.random_age()
        self.track = self.random_track()
        self.gender = self.random_gender()

    def __repr__(self):
        output = (
            f"Track : {self.track}",
            f"Age : {self.age}",
            f"Gender : {self.gender}",
        )
        return "\n" .join(output)

    def to_dict(self):
        return {
            "Track" : self.track,
            "Age" : self.age,
            "Gender" : self.gender
            
        }

In [20]:
user = RandomUser()
user

Track : DS
Age : 36
Gender : Male

In [21]:
import pandas as pd

In [22]:
df = pd.DataFrame(RandomUser().to_dict() for _ in range(1000000))

In [23]:
df

       Track  Age      Gender
0        Web   27        Male
1        Web   29        Male
2        Web   31  Non-binary
3         DS   28        Male
4        Web   29      Female
...      ...  ...         ...
999995   Web   27        Male
999996    DS   29        Male
999997   Web   26        Male
999998   Web   24        Male
999999   Web   29        Male

[1000000 rows x 3 columns]

In [24]:
# from Fortuna import FlexCat

In [26]:
# random_name = FlexCat({
#     "male" : ("John","Paul","George","Ringo"),
#     "female" : ("Mary","Jane","Jessie","Andrea"),
#     "non-binary" : ("Pat","Jamie","Jessie","Riley"),   
# }, key_bias = "front_linear", val_bias = "truffle_shuffle"  
# )

In [27]:
# random_name("male")

'Paul'

In [28]:
# random_name()

'Ringo'