In [17]:
from dataclasses import dataclass
import numpy as np
import pandas as pd
import random

In [ ]:
x = formerly_incarcerated (0, 1) - big
y = low_income (0, 1) - bigger
#job_help (0, 1)
z = experience_level(0-3) - inverse weighted correlation

In [ ]:
((0.5x) + y + (1.2(z+1))**-1)/2.334

In [21]:
@dataclass
class Mentee:
    formerly_incarcerated : int 
    low_income: int
    experience_level: int

In [24]:
def Create_table(Amount):
    mentees = []
    for x in range(Amount):
        entry = Mentee(formerly_incarcerated = random.randint(0, 1),
                       low_income = random.randint(0,1),
                       experience_level = random.randint(1, 4))
        mentees += [entry]
    return mentees

In [43]:
ment_list = pd.DataFrame(Create_table(10))
ment_list.head()

   formerly_incarcerated  low_income  experience_level
0                      1           1                 1
1                      0           0                 2
2                      0           1                 3
3                      0           1                 4
4                      0           1                 2

In [44]:
ment_list['fin_aid_ratio'] = (ment_list.formerly_incarcerated/2 + ment_list.low_income + pow(1.2*ment_list.experience_level, -1))/2.34

In [45]:
ment_list.head()

   formerly_incarcerated  low_income  experience_level  fin_aid_ratio
0                      1           1                 1       0.997151
1                      0           0                 2       0.178063
2                      0           1                 3       0.546059
3                      0           1                 4       0.516382
4                      0           1                 2       0.605413