In [17]:
from dataclasses import dataclass
import pandas as pd
import random

### Formula

x = Formally incarcerated (0, 1)

y = Low income (0, 1)

z = Experience Level (1-4) (0-3 in database)

${((0.5x) + y + (9.9(z+1))^{-1} - 0.025) / 1.577}$

Reasoning: Given the available data, we believe income level would hold the greatest weight in determining if an individual will require financial aid. Formerly incarcerated individuals, while challenged, will ocassionally be in a position where they are relatively stable. Following that, we believe that experience level hold little, but some, value.

Subtracting the relative minimum (0.025) and dividing by the relative maximum (1.577) will yeild a ratio from 0 to 1.

In [49]:
@dataclass
class Mentee:
    formerly_incarcerated : int 
    low_income: int
    experience_level: int

In [111]:
def Create_table(Amount):
    """Creates a mock table of data that will be used to calculate
    the probablistic need for financial aid.
    
    Args:
        Ammount (int): The amount of mock entries you would like
        to generate
        
        Input Example:
        Create_table(100)
    
    Returns:
        Table consisting of:
        Formerly incarcerated (True/False),
        Low income (True/False),
        Experience level (0-3)
    """
    mentees = []
    for x in range(Amount):
        entry = Mentee(formerly_incarcerated = random.randint(0, 1),
                       low_income = random.randint(0,1),
                       experience_level = random.randint(0, 3))
        mentees += [entry]
    return mentees

In [59]:
ment_list = pd.DataFrame(Create_table(100))
ment_list.head()

   formerly_incarcerated  low_income  experience_level
0                      0           1                 2
1                      0           1                 2
2                      1           1                 2
3                      1           0                 3
4                      0           1                 1

In [112]:
ment_list['fin_aid_ratio'] = (ment_list.formerly_incarcerated/2 + ment_list.low_income + pow(9.9*(ment_list.experience_level+1), -1)-0.025)/1.577

In [113]:
ment_list

    formerly_incarcerated  low_income  experience_level  fin_aid_ratio
0                       0           1                 2       0.639613
1                       0           1                 2       0.639613
2                       1           1                 2       0.956671
3                       1           0                 3       0.317218
4                       0           1                 1       0.650289
..                    ...         ...               ...            ...
95                      0           1                 2       0.639613
96                      0           0                 3       0.000160
97                      0           1                 4       0.631073
98                      1           1                 2       0.956671
99                      1           0                 1       0.333231

[100 rows x 4 columns]