#Mock Data

There have been some models created already around some simplistic data sets, I want to create a more complex mock dataset to hopefully give a test model a run for its money. The data points are based off the intake survey, so if anyone has any suggestions on that, I'm all ears! ^_^ 

I was thinking about using the following features for the model to consider:

- skills 
- mentee_load 
- career_capable 
- availability 

All of the features of note for matching are housed within the Mentor Class. 

Let me know if anyone else can think of any other relevant data points we should be using in our matching criteria.

## Update

After our latest Stakeholder meeting, we decided to clean up the mock data a little bit and remove some previous features and add some different ones. The mock data now has a more streamline approach for the model that will be coming.

In [1]:
# The following is basically source data
# The real fun starts in the next code cell

male_first_name = (
    'Liam',
    'Noah',
    'Oliver',
    'Elijah',
    'William',
    'James',
    'Benjamin',
    'Lucas',
    'Henry',
    'Alexander',
    'Mason',
    'Michael',
    'Ethan',
    'Daniel',
    'Jacob',
    'Logan',
    'Jackson',
    'Levi',
    'Sebastian',
    'Mateo',
    'Jack',
    'Owen',
    'Theodore',
    'Aiden',
    'Samuel',
    'Joseph',
    'John',
    'David',
    'Wyatt',
    'Matthew',
    'Luke',
    'Asher',
    'Carter',
    'Julian',
    'Grayson',
    'Leo',
    'Jayden',
    'Gabriel',
    'Isaac',
    'Lincoln',
    'Anthony',
    'Hudson',
    'Dylan',
    'Ezra',
    'Thomas',
    'Charles',
    'Christopher',
    'Jaxon',
    'Maverick',
    'Josiah',
    'Isaiah',
    'Andrew',
    'Elias',
    'Joshua',
    'Nathan',
    'Caleb',
    'Ryan',
    'Adrian',
    'Miles',
    'Eli',
    'Nolan',
    'Christian',
    'Aaron',
    'Cameron',
    'Ezekiel',
    'Colton',
    'Luca',
    'Landon',
    'Hunter',
    'Jonathan',
    'Santiago',
    'Axel',
    'Easton',
    'Cooper',
    'Jeremiah',
    'Angel',
    'Roman',
    'Connor',
    'Jameson',
    'Robert',
    'Greyson',
    'Jordan',
    'Ian',
    'Carson',
    'Jaxson',
    'Leonardo',
    'Nicholas',
    'Dominic',
    'Austin',
    'Everett',
    'Brooks',
    'Xavier',
    'Kai',
    'Jose',
    'Parker',
    'Adam',
    'Jace',
    'Wesley',
    'Kayden',
    'Silas',
    'Bennett',
    'Declan',
    'Waylon',
    'Weston',
    'Evan',
    'Emmett',
    'Micah',
    'Ryder',
    'Beau',
    'Damian',
    'Brayden',
    'Gael',
    'Rowan',
    'Harrison',
    'Bryson',
    'Sawyer',
    'Amir',
    'Kingston',
    'Jason',
    'Giovanni',
    'Vincent',
    'Ayden',
    'Chase',
    'Myles',
    'Diego',
    'Nathaniel',
    'Legend',
    'Jonah',
    'River',
    'Tyler',
    'Cole',
    'Braxton',
    'George',
    'Milo',
    'Zachary',
    'Ashton',
    'Luis',
    'Jasper',
    'Kaiden',
    'Adriel',
    'Gavin',
    'Bentley',
    'Calvin',
    'Zion',
    'Juan',
    'Maxwell',
    'Max',
    'Ryker',
    'Carlos',
    'Emmanuel',
    'Jayce',
    'Lorenzo',
    'Ivan',
    'Jude',
    'August',
    'Kevin',
    'Malachi',
    'Elliott',
    'Rhett',
    'Archer',
    'Karter',
    'Arthur',
    'Luka',
    'Elliot',
    'Thiago',
    'Brandon',
    'Camden',
    'Justin',
    'Jesus',
    'Maddox',
    'King',
    'Theo',
    'Enzo',
    'Matteo',
    'Emiliano',
    'Dean',
    'Hayden',
    'Finn',
    'Brody',
    'Antonio',
    'Abel',
    'Alex',
    'Tristan',
    'Graham',
    'Zayden',
    'Judah',
    'Xander',
    'Miguel',
    'Atlas',
    'Messiah',
    'Barrett',
    'Tucker',
    'Timothy',
    'Alan',
    'Edward',
    'Leon',
    'Dawson',
    'Eric',
    'Ace',
    'Victor',
    'Abraham',
    'Nicolas',
    'Jesse',
    'Charlie',
    'Patrick',
    'Walker',
    'Joel',
    'Richard',
    'Beckett',
    'Blake',
    'Alejandro',
    'Avery',
    'Grant',
    'Peter',
    'Oscar',
    'Matias',
    'Amari',
    'Lukas',
    'Andres',
    'Arlo',
    'Colt',
    'Adonis',
    'Kyrie',
    'Steven',
    'Felix',
    'Preston',
    'Marcus',
    'Holden',
    'Emilio',
    'Remington',
    'Jeremy',
    'Kaleb',
    'Brantley',
    'Bryce',
    'Mark',
    'Knox',
    'Israel',
    'Phoenix',
    'Kobe',
    'Nash',
    'Griffin',
    'Caden',
    'Kenneth',
    'Kyler',
    'Hayes',
    'Jax',
    'Rafael',
    'Beckham',
    'Javier',
    'Maximus',
    'Simon',
    'Paul',
    'Omar',
    'Kaden',
    'Kash',
    'Lane',
    'Bryan',
    'Riley',
    'Zane',
    'Louis',
    'Aidan',
    'Paxton',
    'Maximiliano',
    'Karson',
    'Cash',
    'Cayden',
    'Emerson',
    'Tobias',
    'Ronan',
    'Brian',
    'Dallas',
    'Bradley',
    'Jorge',
    'Walter',
    'Josue',
    'Khalil',
    'Damien',
    'Jett',
    'Kairo',
    'Zander',
    'Andre',
    'Cohen',
    'Crew',
    'Hendrix',
    'Colin',
    'Chance',
    'Malakai',
    'Clayton',
    'Daxton',
    'Malcolm',
    'Lennox',
    'Martin',
    'Jaden',
    'Kayson',
    'Bodhi',
    'Francisco',
    'Cody',
    'Erick',
    'Kameron',
    'Atticus',
    'Dante',
    'Jensen',
    'Cruz',
    'Finley',
    'Brady',
    'Joaquin',
    'Anderson',
    'Gunner',
    'Muhammad',
    'Zayn',
    'Derek',
    'Raymond',
    'Kyle',
    'Angelo',
    'Reid',
    'Spencer',
    'Nico',
    'Jaylen',
    'Jake',
    'Prince',
    'Manuel',
    'Ali',
    'Gideon',
    'Stephen',
    'Ellis',
    'Orion',
    'Rylan',
    'Eduardo',
    'Mario',
    'Rory',
    'Cristian',
    'Odin',
    'Tanner',
    'Julius',
    'Callum',
    'Sean',
    'Kane',
    'Ricardo',
    'Travis',
    'Wade',
    'Warren',
    'Fernando',
    'Titus',
    'Leonel',
    'Edwin',
    'Cairo',
    'Corbin',
    'Dakota',
    'Ismael',
    'Colson',
    'Killian',
    'Major',
    'Tate',
    'Gianni',
    'Elian',
    'Remy',
    'Lawson',
    'Niko',
    'Nasir',
    'Kade',
    'Armani',
    'Ezequiel',
    'Marshall',
    'Hector',
    'Desmond',
    'Kason',
    'Garrett',
    'Jared',
    'Cyrus',
    'Russell',
    'Cesar',
    'Tyson',
    'Malik',
    'Donovan',
    'Jaxton',
    'Cade',
    'Romeo',
    'Nehemiah',
    'Sergio',
    'Iker',
    'Caiden',
    'Jay',
    'Pablo',
    'Devin',
    'Jeffrey',
    'Otto',
    'Kamari',
    'Ronin',
    'Johnny',
    'Clark',
    'Ari',
    'Marco',
    'Edgar',
    'Bowen',
    'Jaiden',
    'Grady',
    'Zayne',
    'Sullivan',
    'Jayceon',
    'Sterling',
    'Andy',
    'Conor',
    'Raiden',
    'Royal',
    'Royce',
    'Solomon',
    'Trevor',
    'Winston',
    'Emanuel',
    'Finnegan',
    'Pedro',
    'Luciano',
    'Harvey',
    'Franklin',
    'Noel',
    'Troy',
    'Princeton',
    'Johnathan',
    'Erik',
    'Fabian',
    'Oakley',
    'Rhys',
    'Porter',
    'Hugo',
    'Frank',
    'Damon',
    'Kendrick',
    'Mathias',
    'Milan',
    'Peyton',
    'Wilder',
    'Callan',
    'Gregory',
    'Seth',
    'Matthias',
    'Briggs',
    'Ibrahim',
    'Roberto',
    'Conner',
    'Quinn',
    'Kashton',
    'Sage',
    'Santino',
    'Kolton',
    'Alijah',
    'Dominick',
    'Zyaire',
    'Apollo',
    'Kylo',
    'Reed',
    'Philip',
    'Kian',
    'Shawn',
    'Kaison',
    'Leonidas',
    'Ayaan',
    'Lucca',
    'Memphis',
    'Ford',
    'Baylor',
    'Kyson',
    'Uriel',
    'Allen',
    'Collin',
    'Ruben',
    'Archie',
    'Dalton',
    'Esteban',
    'Adan',
    'Forrest',
    'Alonzo',
    'Isaias',
    'Leland',
    'Jase',
    'Dax',
    'Kasen',
    'Gage',
    'Kamden',
    'Marcos',
    'Jamison',
    'Francis',
    'Hank',
    'Alexis',
    'Tripp',
    'Frederick',
    'Jonas',
    'Stetson',
    'Cassius',
    'Izaiah',
    'Eden',
    'Maximilian',
    'Rocco',
    'Tatum',
    'Keegan',
    'Aziel',
    'Moses',
    'Bruce',
    'Lewis',
    'Braylen',
    'Omari',
    'Mack',
    'Augustus',
    'Enrique',
    'Armando',
    'Pierce',
    'Moises',
    'Asa',
    'Shane',
    'Emmitt',
    'Soren',
    'Dorian',
    'Keanu',
    'Zaiden',
    'Raphael',
    'Deacon',
    'Abdiel',
    'Kieran',
    'Phillip',
    'Ryland',
    'Zachariah',
    'Casey',
    'Zaire',
    'Albert',
    'Baker',
    'Corey',
    'Kylan',
    'Denver',
    'Gunnar',
    'Jayson',
    'Drew',
    'Callen',
    'Jasiah',
    'Drake',
    'Kannon',
    'Braylon',
    'Sonny',
    'Bo',
    'Moshe',
    'Huxley',
    'Quentin',
    'Rowen',
    'Santana',
    'Cannon',
    'Kenzo',
    'Wells',
    'Julio',
    'Nikolai',
    'Conrad',
    'Jalen',
    'Makai',
    'Benson',
    'Derrick',
    'Gerardo',
    'Davis',
    'Abram',
    'Mohamed',
    'Ronald',
    'Raul',
    'Arjun',
    'Dexter',
    'Kaysen',
    'Jaime',
    'Scott',
    'Lawrence',
    'Ariel',
    'Skyler',
    'Danny',
    'Roland',
    'Chandler',
    'Yusuf',
    'Samson',
    'Case',
    'Zain',
    'Roy',
    'Rodrigo',
    'Sutton',
    'Boone',
    'Saint',
    'Saul',
    'Jaziel',
    'Hezekiah',
    'Alec',
    'Arturo',
    'Jamari',
    'Jaxtyn',
    'Julien',
    'Koa',
    'Reece',
    'Landen',
    'Koda',
    'Darius',
    'Sylas',
    'Ares',
    'Kyree',
    'Boston',
    'Keith',
    'Taylor',
    'Johan',
    'Edison',
    'Sincere',
    'Watson',
    'Jerry',
    'Nikolas',
    'Quincy',
    'Shepherd',
    'Brycen',
    'Marvin',
    'Dariel',
    'Axton',
    'Donald',
    'Bodie',
    'Finnley',
    'Onyx',
    'Rayan',
    'Raylan',
    'Brixton',
    'Colby',
    'Shiloh',
    'Valentino',
    'Layton',
    'Trenton',
    'Landyn',
    'Alessandro',
    'Ahmad',
    'Gustavo',
    'Ledger',
    'Ridge',
    'Ander',
    'Ahmed',
    'Kingsley',
    'Issac',
    'Mauricio',
    'Tony',
    'Leonard',
    'Mohammed',
    'Uriah',
    'Duke',
    'Kareem',
    'Lucian',
    'Marcelo',
    'Aarav',
    'Leandro',
    'Reign',
    'Clay',
    'Kohen',
    'Dennis',
    'Samir',
    'Ermias',
    'Otis',
    'Emir',
    'Nixon',
    'Ty',
    'Sam',
    'Fletcher',
    'Wilson',
    'Dustin',
    'Hamza',
    'Bryant',
    'Flynn',
    'Lionel',
    'Mohammad',
    'Cason',
    'Jamir',
    'Aden',
    'Dakari',
    'Justice',
    'Dillon',
    'Layne',
    'Zaid',
    'Alden',
    'Nelson',
    'Devon',
    'Titan',
    'Chris',
    'Khari',
    'Zeke',
    'Noe',
    'Alberto',
    'Roger',
    'Brock',
    'Rex',
    'Quinton',
    'Alvin',
    'Cullen',
    'Azariah',
    'Harlan',
    'Kellan',
    'Lennon',
    'Marcel',
    'Keaton',
    'Morgan',
    'Ricky',
    'Trey',
    'Karsyn',
    'Langston',
    'Miller',
    'Chaim',
    'Salvador',
    'Amias',
    'Tadeo',
    'Curtis',
    'Lachlan',
    'Amos',
    'Anakin',
    'Krew',
    'Tomas',
    'Jefferson',
    'Yosef',
    'Bruno',
    'Korbin',
    'Augustine',
    'Cayson',
    'Mathew',
    'Vihaan',
    'Jamie',
    'Clyde',
    'Brendan',
    'Jagger',
    'Carmelo',
    'Harry',
    'Nathanael',
    'Mitchell',
    'Darren',
    'Ray',
    'Jedidiah',
    'Jimmy',
    'Lochlan',
    'Bellamy',
    'Eddie',
    'Rayden',
    'Reese',
    'Stanley',
    'Joe',
    'Houston',
    'Douglas',
    'Vincenzo',
    'Casen',
    'Emery',
    'Joziah',
    'Leighton',
    'Marcellus',
    'Atreus',
    'Aron',
    'Hugh',
    'Musa',
    'Tommy',
    'Alfredo',
    'Junior',
    'Neil',
    'Westley',
    'Banks',
    'Eliel',
    'Melvin',
    'Maximo',
    'Briar',
    'Colten',
    'Lance',
    'Nova',
    'Trace',
    'Axl',
    'Ramon',
    'Vicente',
    'Brennan',
    'Caspian',
    'Remi',
    'Deandre',
    'Legacy',
    'Lee',
    'Valentin',
    'Ben',
    'Louie',
    'Westin',
    'Wayne',
    'Benicio',
    'Grey',
    'Zayd',
    'Gatlin',
    'Mekhi',
    'Orlando',
    'Bjorn',
    'Harley',
    'Alonso',
    'Rio',
    'Aldo',
    'Byron',
    'Eliseo',
    'Ernesto',
    'Talon',
    'Thaddeus',
    'Brecken',
    'Kace',
    'Kellen',
    'Enoch',
    'Kiaan',
    'Lian',
    'Creed',
    'Rohan',
    'Callahan',
    'Jaxxon',
    'Ocean',
    'Crosby',
    'Dash',
    'Gary',
    'Mylo',
    'Ira',
    'Magnus',
    'Salem',
    'Abdullah',
    'Kye',
    'Tru',
    'Forest',
    'Jon',
    'Misael',
    'Madden',
    'Braden',
    'Carl',
    'Hassan',
    'Emory',
    'Kristian',
    'Alaric',
    'Ambrose',
    'Dario',
    'Allan',
    'Bode',
    'Boden',
    'Juelz',
    'Kristopher',
    'Genesis',
    'Idris',
    'Ameer',
    'Anders',
    'Darian',
    'Kase',
    'Aryan',
    'Dane',
    'Guillermo',
    'Elisha',
    'Jakobe',
    'Thatcher',
    'Eugene',
    'Ishaan',
    'Larry',
    'Wesson',
    'Yehuda',
    'Alvaro',
    'Bobby',
    'Bronson',
    'Dilan',
    'Kole',
    'Kyro',
    'Tristen',
    'Blaze',
    'Brayan',
    'Jadiel',
    'Kamryn',
    'Demetrius',
    'Maurice',
    'Arian',
    'Kabir',
    'Rocky',
    'Rudy',
    'Randy',
    'Rodney',
    'Yousef',
    'Felipe',
    'Robin',
    'Aydin',
    'Dior',
    'Kaiser',
    'Van',
    'Brodie',
    'London',
    'Eithan',
    'Stefan',
    'Ulises',
    'Camilo',
    'Branson',
    'Jakari',
    'Judson',
    'Yahir',
    'Zavier',
    'Damari',
    'Jakob',
    'Jaxx',
    'Bentlee',
    'Cain',
    'Niklaus',
    'Rey',
    'Zahir',
    'Aries',
    'Blaine',
    'Kyng',
    'Castiel',
    'Henrik',
    'Joey',
    'Khalid',
    'Bear',
    'Graysen',
    'Jair',
    'Kylen',
    'Darwin',
    'Alfred',
    'Ayan',
    'Kenji',
    'Zakai',
    'Avi',
    'Cory',
    'Fisher',
    'Jacoby',
    'Osiris',
    'Harlem',
    'Jamal',
    'Santos',
    'Wallace',
    'Brett',
    'Fox',
    'Leif',
    'Maison',
    'Reuben',
    'Adler',
    'Zev',
    'Calum',
    'Kelvin',
    'Zechariah',
    'Bridger',
    'Mccoy',
    'Seven',
    'Shepard',
    'Azrael',
    'Leroy',
    'Terry',
    'Harold',
    'Mac',
    'Mordechai',
    'Ahmir',
    'Cal',
    'Franco',
    'Trent',
    'Blaise',
    'Coen',
    'Dominik',
    'Marley',
    'Davion',
    'Jeremias',
    'Riggs',
    'Jones',
    'Will',
    'Damir',
    'Dangelo',
    'Canaan',
    'Dion',
    'Jabari',
    'Landry',
    'Salvatore',
    'Kody',
    'Hakeem',
    'Truett',
    'Gerald',
    'Lyric',
    'Gordon',
    'Jovanni',
    'Kamdyn',
    'Alistair',
    'Cillian',
    'Foster',
    'Terrance',
    'Murphy',
    'Zyair',
    'Cedric',
    'Rome',
    'Abner',
    'Colter',
    'Dayton',
    'Jad',
    'Xzavier',
    'Rene',
    'Vance',
    'Duncan',
    'Frankie',
    'Bishop',
    'Davian',
    'Everest',
    'Heath',
    'Jaxen',
    'Marlon',
    'Maxton',
    'Reginald',
    'Harris',
    'Jericho',
    'Keenan',
    'Korbyn',
    'Wes',
    'Eliezer',
    'Jeffery',
    'Kalel',
    'Kylian',
    'Turner',
    'Willie',
    'Rogelio',
    'Ephraim',
    )

female_first_name = (
    'Olivia',
    'Emma',
    'Ava',
    'Charlotte',
    'Sophia',
    'Amelia',
    'Isabella',
    'Mia',
    'Evelyn',
    'Harper',
    'Camila',
    'Gianna',
    'Abigail',
    'Luna',
    'Ella',
    'Elizabeth',
    'Sofia',
    'Emily',
    'Avery',
    'Mila',
    'Scarlett',
    'Eleanor',
    'Madison',
    'Layla',
    'Penelope',
    'Aria',
    'Chloe',
    'Grace',
    'Ellie',
    'Nora',
    'Hazel',
    'Zoey',
    'Riley',
    'Victoria',
    'Lily',
    'Aurora',
    'Violet',
    'Nova',
    'Hannah',
    'Emilia',
    'Zoe',
    'Stella',
    'Everly',
    'Isla',
    'Leah',
    'Lillian',
    'Addison',
    'Willow',
    'Lucy',
    'Paisley',
    'Natalie',
    'Naomi',
    'Eliana',
    'Brooklyn',
    'Elena',
    'Aubrey',
    'Claire',
    'Ivy',
    'Kinsley',
    'Audrey',
    'Maya',
    'Genesis',
    'Skylar',
    'Bella',
    'Aaliyah',
    'Madelyn',
    'Savannah',
    'Anna',
    'Delilah',
    'Serenity',
    'Caroline',
    'Kennedy',
    'Valentina',
    'Ruby',
    'Sophie',
    'Alice',
    'Gabriella',
    'Sadie',
    'Ariana',
    'Allison',
    'Hailey',
    'Autumn',
    'Nevaeh',
    'Natalia',
    'Quinn',
    'Josephine',
    'Sarah',
    'Cora',
    'Emery',
    'Samantha',
    'Piper',
    'Leilani',
    'Eva',
    'Everleigh',
    'Madeline',
    'Lydia',
    'Jade',
    'Peyton',
    'Brielle',
    'Adeline',
    'Vivian',
    'Rylee',
    'Clara',
    'Raelynn',
    'Melanie',
    'Melody',
    'Julia',
    'Athena',
    'Maria',
    'Liliana',
    'Hadley',
    'Arya',
    'Rose',
    'Reagan',
    'Eliza',
    'Adalynn',
    'Kaylee',
    'Lyla',
    'Mackenzie',
    'Alaia',
    'Isabelle',
    'Charlie',
    'Arianna',
    'Mary',
    'Remi',
    'Margaret',
    'Iris',
    'Parker',
    'Ximena',
    'Eden',
    'Ayla',
    'Kylie',
    'Elliana',
    'Josie',
    'Katherine',
    'Faith',
    'Alexandra',
    'Eloise',
    'Adalyn',
    'Amaya',
    'Jasmine',
    'Amara',
    'Daisy',
    'Reese',
    'Valerie',
    'Brianna',
    'Cecilia',
    'Andrea',
    'Summer',
    'Valeria',
    'Norah',
    'Ariella',
    'Esther',
    'Ashley',
    'Emerson',
    'Aubree',
    'Isabel',
    'Anastasia',
    'Ryleigh',
    'Khloe',
    'Taylor',
    'Londyn',
    'Lucia',
    'Emersyn',
    'Callie',
    'Sienna',
    'Blakely',
    'Kehlani',
    'Genevieve',
    'Alina',
    'Bailey',
    'Juniper',
    'Maeve',
    'Molly',
    'Harmony',
    'Georgia',
    'Magnolia',
    'Catalina',
    'Freya',
    'Juliette',
    'Sloane',
    'June',
    'Sara',
    'Ada',
    'Kimberly',
    'River',
    'Ember',
    'Juliana',
    'Aliyah',
    'Millie',
    'Brynlee',
    'Teagan',
    'Morgan',
    'Jordyn',
    'London',
    'Alaina',
    'Olive',
    'Rosalie',
    'Alyssa',
    'Ariel',
    'Finley',
    'Arabella',
    'Journee',
    'Hope',
    'Leila',
    'Alana',
    'Gemma',
    'Vanessa',
    'Gracie',
    'Noelle',
    'Marley',
    'Elise',
    'Presley',
    'Kamila',
    'Zara',
    'Amy',
    'Kayla',
    'Payton',
    'Blake',
    'Ruth',
    'Alani',
    'Annabelle',
    'Sage',
    'Aspen',
    'Laila',
    'Lila',
    'Rachel',
    'Trinity',
    'Daniela',
    'Alexa',
    'Lilly',
    'Lauren',
    'Elsie',
    'Margot',
    'Adelyn',
    'Zuri',
    'Brooke',
    'Sawyer',
    'Lilah',
    'Lola',
    'Selena',
    'Mya',
    'Sydney',
    'Diana',
    'Ana',
    'Vera',
    'Alayna',
    'Nyla',
    'Elaina',
    'Rebecca',
    'Angela',
    'Kali',
    'Alivia',
    'Raegan',
    'Rowan',
    'Phoebe',
    'Camilla',
    'Joanna',
    'Malia',
    'Vivienne',
    'Dakota',
    'Brooklynn',
    'Evangeline',
    'Camille',
    'Jane',
    'Nicole',
    'Catherine',
    'Jocelyn',
    'Julianna',
    'Lena',
    'Lucille',
    'Mckenna',
    'Paige',
    'Adelaide',
    'Charlee',
    'Mariana',
    'Myla',
    'Mckenzie',
    'Tessa',
    'Miriam',
    'Oakley',
    'Kailani',
    'Alayah',
    'Amira',
    'Adaline',
    'Phoenix',
    'Milani',
    'Annie',
    'Lia',
    'Angelina',
    'Harley',
    'Cali',
    'Maggie',
    'Hayden',
    'Leia',
    'Fiona',
    'Briella',
    'Journey',
    'Lennon',
    'Saylor',
    'Jayla',
    'Kaia',
    'Thea',
    'Adriana',
    'Mariah',
    'Juliet',
    'Oaklynn',
    'Kiara',
    'Alexis',
    'Haven',
    'Aniyah',
    'Delaney',
    'Gracelynn',
    'Kendall',
    'Winter',
    'Lilith',
    'Logan',
    'Amiyah',
    'Evie',
    'Alexandria',
    'Gracelyn',
    'Gabriela',
    'Sutton',
    'Harlow',
    'Madilyn',
    'Makayla',
    'Evelynn',
    'Gia',
    'Nina',
    'Amina',
    'Giselle',
    'Brynn',
    'Blair',
    'Amari',
    'Octavia',
    'Michelle',
    'Talia',
    'Demi',
    'Alaya',
    'Kaylani',
    'Izabella',
    'Fatima',
    'Tatum',
    'Makenzie',
    'Lilliana',
    'Arielle',
    'Palmer',
    'Melissa',
    'Willa',
    'Samara',
    'Destiny',
    'Dahlia',
    'Celeste',
    'Ainsley',
    'Rylie',
    'Reign',
    'Laura',
    'Adelynn',
    'Gabrielle',
    'Remington',
    'Wren',
    'Brinley',
    'Amora',
    'Lainey',
    'Collins',
    'Lexi',
    'Aitana',
    'Alessandra',
    'Kenzie',
    'Raelyn',
    'Elle',
    'Everlee',
    'Haisley',
    'Hallie',
    'Wynter',
    'Daleyza',
    'Gwendolyn',
    'Paislee',
    'Ariyah',
    'Veronica',
    'Heidi',
    'Anaya',
    'Cataleya',
    'Kira',
    'Avianna',
    'Felicity',
    'Aylin',
    'Miracle',
    'Sabrina',
    'Lana',
    'Ophelia',
    'Elianna',
    'Royalty',
    'Madeleine',
    'Esmeralda',
    'Joy',
    'Kalani',
    'Esme',
    'Jessica',
    'Leighton',
    'Ariah',
    'Makenna',
    'Nylah',
    'Viviana',
    'Camryn',
    'Cassidy',
    'Dream',
    'Luciana',
    'Maisie',
    'Stevie',
    'Kate',
    'Lyric',
    'Daniella',
    'Alicia',
    'Daphne',
    'Frances',
    'Charli',
    'Raven',
    'Paris',
    'Nayeli',
    'Serena',
    'Heaven',
    'Bianca',
    'Helen',
    'Hattie',
    'Averie',
    'Mabel',
    'Selah',
    'Allie',
    'Marlee',
    'Kinley',
    'Regina',
    'Carmen',
    'Jennifer',
    'Jordan',
    'Alison',
    'Stephanie',
    'Maren',
    'Kayleigh',
    'Angel',
    'Annalise',
    'Jacqueline',
    'Braelynn',
    'Emory',
    'Rosemary',
    'Scarlet',
    'Amanda',
    'Danielle',
    'Emelia',
    'Ryan',
    'Carolina',
    'Astrid',
    'Kensley',
    'Shiloh',
    'Maci',
    'Francesca',
    'Rory',
    'Celine',
    'Kamryn',
    'Zariah',
    'Liana',
    'Poppy',
    'Maliyah',
    'Keira',
    'Skyler',
    'Noa',
    'Skye',
    'Nadia',
    'Addilyn',
    'Rosie',
    'Eve',
    'Sarai',
    'Edith',
    'Jolene',
    'Maddison',
    'Meadow',
    'Charleigh',
    'Matilda',
    'Elliott',
    'Madelynn',
    'Holly',
    'Leona',
    'Azalea',
    'Katie',
    'Mira',
    'Ari',
    'Kaitlyn',
    'Danna',
    'Cameron',
    'Kyla',
    'Bristol',
    'Kora',
    'Armani',
    'Nia',
    'Malani',
    'Dylan',
    'Remy',
    'Maia',
    'Dior',
    'Legacy',
    'Alessia',
    'Shelby',
    'Maryam',
    'Sylvia',
    'Yaretzi',
    'Lorelei',
    'Madilynn',
    'Abby',
    'Helena',
    'Jimena',
    'Elisa',
    'Renata',
    'Amber',
    'Aviana',
    'Carter',
    'Emmy',
    'Haley',
    'Alondra',
    'Elaine',
    'Erin',
    'April',
    'Emely',
    'Imani',
    'Kennedi',
    'Lorelai',
    'Hanna',
    'Kelsey',
    'Aurelia',
    'Colette',
    'Jaliyah',
    'Kylee',
    'Macie',
    'Aisha',
    'Dorothy',
    'Charley',
    'Kathryn',
    'Adelina',
    'Adley',
    'Monroe',
    'Sierra',
    'Ailani',
    'Miranda',
    'Mikayla',
    'Alejandra',
    'Amirah',
    'Jada',
    'Jazlyn',
    'Jenna',
    'Jayleen',
    'Beatrice',
    'Kendra',
    'Lyra',
    'Nola',
    'Emberly',
    'Mckinley',
    'Myra',
    'Katalina',
    'Antonella',
    'Zelda',
    'Alanna',
    'Amaia',
    'Priscilla',
    'Briar',
    'Kaliyah',
    'Itzel',
    'Oaklyn',
    'Alma',
    'Mallory',
    'Novah',
    'Amalia',
    'Fernanda',
    'Alia',
    'Angelica',
    'Elliot',
    'Justice',
    'Mae',
    'Cecelia',
    'Gloria',
    'Ariya',
    'Virginia',
    'Cheyenne',
    'Aleah',
    'Jemma',
    'Henley',
    'Meredith',
    'Leyla',
    'Lennox',
    'Ensley',
    'Zahra',
    'Reina',
    'Frankie',
    'Lylah',
    'Nalani',
    'Reyna',
    'Saige',
    'Ivanna',
    'Aleena',
    'Emerie',
    'Ivory',
    'Leslie',
    'Alora',
    'Ashlyn',
    'Bethany',
    'Bonnie',
    'Sasha',
    'Xiomara',
    'Salem',
    'Adrianna',
    'Dayana',
    'Clementine',
    'Karina',
    'Karsyn',
    'Emmie',
    'Julie',
    'Julieta',
    'Briana',
    'Carly',
    'Macy',
    'Marie',
    'Oaklee',
    'Christina',
    'Malaysia',
    'Ellis',
    'Irene',
    'Anne',
    'Anahi',
    'Mara',
    'Rhea',
    'Davina',
    'Dallas',
    'Jayda',
    'Mariam',
    'Skyla',
    'Siena',
    'Elora',
    'Marilyn',
    'Jazmin',
    'Megan',
    'Rosa',
    'Savanna',
    'Allyson',
    'Milan',
    'Coraline',
    'Johanna',
    'Melany',
    'Chelsea',
    'Michaela',
    'Melina',
    'Angie',
    'Cassandra',
    'Yara',
    'Kassidy',
    'Liberty',
    'Lilian',
    'Avah',
    'Anya',
    'Laney',
    'Navy',
    'Opal',
    'Amani',
    'Zaylee',
    'Mina',
    'Sloan',
    'Romina',
    'Ashlynn',
    'Aliza',
    'Liv',
    'Malaya',
    'Blaire',
    'Janelle',
    'Kara',
    'Analia',
    'Hadassah',
    'Hayley',
    'Karla',
    'Chaya',
    'Cadence',
    'Kyra',
    'Alena',
    'Ellianna',
    'Katelyn',
    'Kimber',
    'Laurel',
    'Lina',
    'Capri',
    'Braelyn',
    'Faye',
    'Kamiyah',
    'Kenna',
    'Louise',
    'Calliope',
    'Kaydence',
    'Nala',
    'Tiana',
    'Aileen',
    'Sunny',
    'Zariyah',
    'Milana',
    'Giuliana',
    'Eileen',
    'Elodie',
    'Rayna',
    'Monica',
    'Galilea',
    'Journi',
    'Lara',
    'Marina',
    'Aliana',
    'Harmoni',
    'Jamie',
    'Holland',
    'Emmalyn',
    'Lauryn',
    'Chanel',
    'Tinsley',
    'Jessie',
    'Lacey',
    'Elyse',
    'Janiyah',
    'Jolie',
    'Ezra',
    'Marleigh',
    'Roselyn',
    'Lillie',
    'Louisa',
    'Madisyn',
    'Penny',
    'Kinslee',
    'Treasure',
    'Zaniyah',
    'Estella',
    'Jaylah',
    'Khaleesi',
    'Alexia',
    'Dulce',
    'Indie',
    'Maxine',
    'Waverly',
    'Giovanna',
    'Miley',
    'Saoirse',
    'Estrella',
    'Greta',
    'Rosalia',
    'Mylah',
    'Teresa',
    'Bridget',
    'Kelly',
    'Adalee',
    'Aubrie',
    'Lea',
    'Harlee',
    'Anika',
    'Itzayana',
    'Hana',
    'Kaisley',
    'Mikaela',
    'Naya',
    'Avalynn',
    'Margo',
    'Sevyn',
    'Florence',
    'Keilani',
    'Lyanna',
    'Joelle',
    'Kataleya',
    'Royal',
    'Averi',
    'Kallie',
    'Winnie',
    'Baylee',
    'Martha',
    'Pearl',
    'Alaiya',
    'Rayne',
    'Sylvie',
    'Brylee',
    'Jazmine',
    'Ryann',
    'Kori',
    'Noemi',
    'Haylee',
    'Julissa',
    'Celia',
    'Laylah',
    'Rebekah',
    'Rosalee',
    'Aya',
    'Bria',
    'Adele',
    'Aubrielle',
    'Tiffany',
    'Addyson',
    'Kai',
    'Bellamy',
    'Leilany',
    'Princess',
    'Chana',
    'Estelle',
    'Selene',
    'Sky',
    'Dani',
    'Thalia',
    'Ellen',
    'Rivka',
    'Amelie',
    'Andi',
    'Kynlee',
    'Raina',
    'Vienna',
    'Alianna',
    'Livia',
    'Madalyn',
    'Mercy',
    'Novalee',
    'Ramona',
    'Vada',
    'Berkley',
    'Gwen',
    'Persephone',
    'Milena',
    'Paula',
    'Clare',
    'Kairi',
    'Linda',
    'Paulina',
    'Kamilah',
    'Amoura',
    'Hunter',
    'Isabela',
    'Karen',
    'Marianna',
    'Sariyah',
    'Theodora',
    'Annika',
    'Kyleigh',
    'Nellie',
    'Scarlette',
    'Keyla',
    'Kailey',
    'Mavis',
    'Lilianna',
    'Rosalyn',
    'Sariah',
    'Tori',
    'Yareli',
    'Aubriella',
    'Bexley',
    'Bailee',
    'Jianna',
    'Keily',
    'Annabella',
    'Azariah',
    'Denisse',
    'Promise',
    'August',
    'Hadlee',
    'Halle',
    'Fallon',
    'Oakleigh',
    'Zaria',
    'Jaylin',
    'Paisleigh',
    'Crystal',
    'Ila',
    'Aliya',
    'Cynthia',
    'Giana',
    'Maleah',
    'Rylan',
    'Aniya',
    'Denise',
    'Emmeline',
    'Scout',
    'Simone',
    'Noah',
    'Zora',
    'Meghan',
    'Landry',
    'Ainhoa',
    'Lilyana',
    'Noor',
    'Belen',
    'Brynleigh',
    'Cleo',
    'Meilani',
    'Karter',
    'Amaris',
    'Frida',
    'Iliana',
    'Violeta',
    'Addisyn',
    'Nancy',
    'Denver',
    'Leanna',
    'Braylee',
    'Kiana',
    'Wrenley',
    'Barbara',
    'Khalani',
    'Aspyn',
    'Ellison',
    'Judith',
    'Robin',
    'Valery',
    'Aila',
    'Deborah',
    'Cara',
    'Clarissa',
    'Iyla',
    'Lexie',
    'Anais',
    'Kaylie',
    'Nathalie',
    'Alisson',
    'Della',
    'Addilynn',
    'Elsa',
    'Zoya',
    'Layne',
    'Marlowe',
    'Jovie',
    'Kenia',
    'Samira',
    'Jaylee',
    'Jenesis',
    'Etta',
    'Shay',
    'Amayah',
    'Avayah',
    'Egypt',
    'Flora',
    'Raquel',
    'Whitney',
    'Zola',
    'Giavanna',
    'Raya',
    'Veda',
    'Halo',
    'Paloma',
    'Nataly',
    'Whitley',
    'Dalary',
    'Drew',
    'Guadalupe',
    'Kamari',
    'Esperanza',
    'Loretta',
    'Malayah',
    'Natasha',
    'Stormi',
    'Ansley',
    'Carolyn',
    'Corinne',
    'Paola',
    'Brittany',
    'Emerald',
    'Freyja',
    'Zainab',
    'Artemis',
    'Jillian',
    'Kimora',
    'Zoie',
    'Aislinn',
    'Emmaline',
    'Ayleen',
    'Queen',
    'Jaycee',
    'Murphy',
    'Nyomi',
    'Elina',
    'Hadleigh',
    'Marceline',
    'Marisol',
    'Yasmin',
    'Zendaya',
    'Chandler',
    'Emani',
    'Jaelynn',
    'Kaiya',
    'Nathalia',
    'Violette',
    'Joyce',
    'Paityn',
    'Elisabeth',
    'Emmalynn',
    'Luella',
    'Yamileth',
    'Aarya',
    'Luisa',
    'Zhuri',
    'Araceli',
    'Harleigh',
    'Madalynn',
    'Melani',
    'Laylani',
    'Magdalena',
    'Mazikeen',
    'Belle',
    'Kadence',
    )

last_name = (
    'Smith',
    'Johnson',
    'Williams',
    'Brown',
    'Jones',
    'Garcia',
    'Miller',
    'Davis',
    'Rodriguez',
    'Martinez',
    'Hernandez',
    'Lopez',
    'Gonzales',
    'Wilson',
    'Anderson',
    'Thomas',
    'Taylor',
    'Moore',
    'Jackson',
    'Martin',
    'Lee',
    'Perez',
    'Thompson',
    'White',
    'Harris',
    'Sanchez',
    'Clark',
    'Ramirez',
    'Lewis',
    'Robinson',
    'Walker',
    'Young',
    'Allen',
    'King',
    'Wright',
    'Scott',
    'Torres',
    'Nguyen',
    'Hill',
    'Flores',
    'Green',
    'Adams',
    'Nelson',
    'Baker',
    'Hall',
    'Rivera',
    'Campbell',
    'Mitchell',
    'Carter',
    'Roberts',
    'Gomez',
    'Phillips',
    'Evans',
    'Turner',
    'Diaz',
    'Parker',
    'Cruz',
    'Edwards',
    'Collins',
    'Reyes',
    'Stewart',
    'Morris',
    'Morales',
    'Murphy',
    'Cook',
    'Rogers',
    'Gutierrez',
    'Ortiz',
    'Morgan',
    'Cooper',
    'Peterson',
    'Bailey',
    'Reed',
    'Kelly',
    'Howard',
    'Ramos',
    'Kim',
    'Cox',
    'Ward',
    'Richardson',
    'Watson',
    'Brooks',
    'Chavez',
    'Wood',
    'James',
    'Bennet',
    'Gray',
    'Mendoza',
    'Ruiz',
    'Hughes',
    'Price',
    'Alvarez',
    'Castillo',
    'Sanders',
    'Patel',
    'Myers',
    'Long',
    'Ross',
    'Foster',
    'Jimenez',
    )

state_names = (
    'Alaska',
    'Alabama',
    'Arkansas',
    'American Samoa',
    'Arizona',
    'California',
    'Colorado',
    'Connecticut',
    'District of Columbia',
    'Delaware',
    'Florida',
    'Georgia',
    'Guam',
    'Hawaii',
    'Iowa',
    'Idaho',
    'Illinois',
    'Indiana',
    'Kansas',
    'Kentucky',
    'Louisiana',
    'Massachusetts',
    'Maryland',
    'Maine',
    'Minnesota',
    'Missouri',
    'Mississippi',
    'Montana',
    'North Carolina',
    'North Dakota',
    'Nebraska',
    'New Hampshire',
    'New Jersey',
    'New Mexico',
    'Nevada',
    'New York',
    'Ohio',
    'Oklahoma',
    'Oregon',
    'Pennsylvania',
    'Puerto Rico',
    'Rhode Island',
    'South Carolina',
    'South Dakota',
    'Tennessee',
    'Texas',
    'Utah',
    'Virginia',
    'Virgin Islands',
    'Vermont',
    'Washington',
    'Wisconsin',
    'West Virginia',
    'Wyoming',
    'Michigan',
    )

convictions = ('Misdemeanors', 'Felony', 'Wobbler')

skills = (
    'HTML',
    'CSS',
    'JavaScript',
    'Python',
    'Ruby',
    'C++',
    'Axios',
    'React',
    'Node.JS',
    'C#',
    'Django',
    'MongoDB',
    'SQL',
    'PostgreSQL',
    'NoSQL',
    'PHP',
    'Angular',
    'Microsoft Azure',
    'IOS',
    'Android',
    )

time_zones = ('Pacific', 'Mountain', 'Central', 'Eastern')

purpose = ('Technical', 'Career Preparation')

exp_level = ('Beginner', 'Intermediate', 'Advanced', 'Unsure')

Now that we have some source data out of the way, we can get to the fun part, creating the Mentor and Mentee classes that we will use to populate our DataFrame

In [2]:
import random as r
import pandas as pd


class Mentee:

    email_end = '@fake.com'

    def __init__(self):
        self.profile_id = 'E' + str(r.randint(1000000, 70000000000000))
        self.tech_or_career = r.sample(purpose, k=r.randint(1, 2))
        self.experience = r.sample(exp_level, k=1)

        self.first_name = r.choice(male_first_name)
        self.last_name = r.choice(last_name)
        self.full_name = self.first_name + ' ' + self.last_name
        self.time_zone = r.sample(time_zones, k=1)

        self.email = self.profile_id + self.last_name.lower() \
            + self.email_end

        self.incarcerated = bool(r.randint(0, 1))
        if self.incarcerated:
            self.list_convictions = r.choice(convictions)
        else:
            self.list_convictions = 'None'

        self.desired_skills = r.sample(skills, k=3)

    @classmethod
    def to_df(cls, num_rows):
        return pd.DataFrame(vars(cls()) for _ in range(num_rows))

In [3]:
class Mentor:

    def __init__(self):
        self.profile_id = 'O' + str(hash(r.randint(2000000,
                                    70000000000000000)))
        self.skills = sorted(r.sample(skills, k=r.randint(1, 4)))
        self.career_capable = bool(r.randint(0, 1))
        self.skill_rank = sorted(r.sample(exp_level, k=r.randint(1, 4)))
        self.time_zone = r.sample(time_zones, k=1)

    @classmethod
    def to_df(cls, num_rows):
        return pd.DataFrame(vars(cls()) for _ in range(num_rows))

In [4]:
mentor = Mentor()

mentor_df = mentor.to_df(20)
mentor_df

            profile_id  ...   time_zone
0   O11568681042301923  ...  [Mountain]
1   O56009857100422080  ...   [Pacific]
2   O39983176878110705  ...  [Mountain]
3   O51320655659244471  ...   [Pacific]
4   O48233977222592380  ...   [Central]
5   O27477799227466143  ...   [Central]
6   O38521881240838854  ...  [Mountain]
7   O36244241344080016  ...   [Pacific]
8   O31480764512245537  ...   [Pacific]
9   O64245970816938706  ...   [Central]
10  O48807884039528964  ...   [Pacific]
11   O3504461256554374  ...  [Mountain]
12  O31422472628152023  ...  [Mountain]
13  O47135568625817997  ...   [Pacific]
14  O19567178033968470  ...   [Central]
15   O6346750369609597  ...   [Pacific]
16  O43346308465364372  ...   [Central]
17  O18401569646811025  ...   [Pacific]
18  O45958400575770750  ...   [Pacific]
19  O28367902916292665  ...  [Mountain]

[20 rows x 5 columns]

In [5]:
mentee = Mentee()
mentee_df = mentee.to_df(200)
mentee_df

          profile_id  ...              desired_skills
0    E31659802074659  ...            [IOS, NoSQL, C#]
1      E706775601686  ...        [Ruby, NoSQL, React]
2    E26688711367820  ...        [HTML, CSS, Android]
3    E28605533181517  ...     [PHP, Angular, MongoDB]
4    E38975015101460  ...    [React, Node.JS, Python]
..               ...  ...                         ...
195  E11478573843497  ...      [Django, SQL, MongoDB]
196  E44534021138697  ...           [IOS, Python, C#]
197  E34655472298831  ...  [Android, Django, Node.JS]
198  E10318049249891  ...            [C#, Axios, PHP]
199   E6196859467399  ...     [Angular, Android, PHP]

[200 rows x 11 columns]

# Dan Kositzke Notebook Add-On's

## Using Euclidean Distance to suggest top 5 mentees for each mentor

In a multi-dimensional space, we can plot the data points of 1 mentor along with all of the mentees. We can then compute the euclidean distance between each point. The 5 mentee data points that are spatially closest to the mentor data point will be the recommendations. Admin can then view the recommendations and make the final pairing decision.

![6198d9c0c8439c795c6c051ec32d272a9e1fe9ce.jpeg]()

## Convert data to numerical values

In [6]:
# Create new columns for each skill

for skill in skills:
    mentor_df[skill] = 0
    mentee_df[skill] = 0

# Create new columns for time zones

for time in time_zones:
    mentor_df[time] = 0
    mentee_df[time] = 0

# Create new columns for purpose

for i in purpose:
    mentor_df[i] = 0
    mentee_df[i] = 0

In [7]:
mentor_df.head(1)

           profile_id        skills  ...  Technical Career Preparation
0  O11568681042301923  [JavaScript]  ...          0                  0

[1 rows x 31 columns]

## Transform Mentor dataframe

In [8]:
for i in range(len(mentor_df)):

    # OHE skills

    for skill in skills:
        if skill in mentor_df.at[i, 'skills']:
            mentor_df.at[i, skill] = 1

    # OHE time zone

    for time in time_zones:
        if time in mentor_df.at[i, 'time_zone']:
            mentor_df.at[i, time] = 1

    # OHE 'technical' vs 'career preparation'

    mentor_df['Technical'] = 1
    if mentor_df.at[i, 'career_capable']:
        mentor_df.at[i, 'Career Preparation'] = 1

In [9]:
mentor_df.head(3)

           profile_id                   skills  ...  Technical Career Preparation
0  O11568681042301923             [JavaScript]  ...          1                  1
1  O56009857100422080  [Axios, C#, C++, NoSQL]  ...          1                  0
2  O39983176878110705  [Angular, CSS, MongoDB]  ...          1                  0

[3 rows x 31 columns]

## Transform Mentee dataframe

In [10]:
for i in range(len(mentee_df)):

    # OHE skills

    for skill in skills:
        if skill in mentee_df.at[i, 'desired_skills']:
            mentee_df.at[i, skill] = 1

    # OHE time zone

    for time in time_zones:
        if time in mentee_df.at[i, 'time_zone']:
            mentee_df.at[i, time] = 1

    # OHE purpose

    for j in purpose:
        if j in mentee_df.at[i, 'tech_or_career']:
            mentee_df.at[i, j] = 1

In [11]:
mentee_df.head(3)

        profile_id  ... Career Preparation
0  E31659802074659  ...                  0
1    E706775601686  ...                  1
2  E26688711367820  ...                  0

[3 rows x 37 columns]

## Create euclidean distance function

In [12]:
import numpy as np


def euclidian_distance(point1, point2):
    point1 = np.array(point1)
    point2 = np.array(point2)
    dist = np.linalg.norm(point1 - point2)
    return dist


# Add 'euc_dist' and 'mentee_suggestions' column

mentee_df['euc_dist'] = ''

## Reduce Mentor and Mentee dataframes to skills only, so they can be compared against each other

In [13]:
mentor_df_skills_only = mentor_df[[
    'HTML',
    'CSS',
    'JavaScript',
    'Python',
    'Ruby',
    'C++',
    'Axios',
    'React',
    'Node.JS',
    'C#',
    'Django',
    'MongoDB',
    'SQL',
    'PostgreSQL',
    'NoSQL',
    'PHP',
    'Angular',
    'Microsoft Azure',
    'IOS',
    'Android',
    ]]

mentor_df_skills_only.head(1)

   HTML  CSS  JavaScript  Python  ...  Angular  Microsoft Azure  IOS  Android
0     0    0           1       0  ...        0                0    0        0

[1 rows x 20 columns]

In [14]:
mentee_df_skills_only = mentee_df[[
    'HTML',
    'CSS',
    'JavaScript',
    'Python',
    'Ruby',
    'C++',
    'Axios',
    'React',
    'Node.JS',
    'C#',
    'Django',
    'MongoDB',
    'SQL',
    'PostgreSQL',
    'NoSQL',
    'PHP',
    'Angular',
    'Microsoft Azure',
    'IOS',
    'Android',
    ]]

mentee_df_skills_only.head(1)

   HTML  CSS  JavaScript  Python  ...  Angular  Microsoft Azure  IOS  Android
0     0    0           0       0  ...        0                0    1        0

[1 rows x 20 columns]

## Create columns for mentee recommendations

In [15]:
mentor_df['mentee_rec_1'] = ''
mentor_df['mentee_rec_2'] = ''
mentor_df['mentee_rec_3'] = ''
mentor_df['mentee_rec_4'] = ''
mentor_df['mentee_rec_5'] = ''

## Find top 5 mentees for each mentor

In [16]:
for i in range(len(mentor_df)):

    # Convert mentor into skill list

    mentor_skill_list = mentor_df_skills_only.loc[i].values.tolist()

    # Create mentee df copy to conduct similarity tests

    mentee_df_copy = mentee_df.copy()

    # Add 'euc_dist' column

    mentee_df_copy['euc_dist'] = ''

    # Compute euclidean distance between the current mentor and each mentee

    for j in range(len(mentee_df)):

        mentee_skill_list = mentee_df_skills_only.loc[j].values.tolist()
        mentee_df_copy.at[j, 'euc_dist'] = \
            euclidian_distance(mentor_skill_list, mentee_skill_list)

    # Check if mentor can help mentee with career preparation
    # If not, filter down to only mentees who request technical help

    if not mentor_df.at[i, 'Career Preparation']:
        mentee_df_copy = mentee_df_copy[mentee_df_copy['Technical'] == 1]

    # Filter mentees by time zone to match the mentor's time zone
    # Not necessary, but helpful once the data grows larger

    mentor_time_zone = mentor_df.at[i, 'time_zone'][0]
    mentee_df_copy = mentee_df_copy[mentee_df_copy[mentor_time_zone] == 1]

    top_five = mentee_df_copy.sort_values(by=['euc_dist']).head(5)

    profile_id_list = list(top_five['profile_id'])
    full_name_list = list(top_five['full_name'])

    mentee_suggestions = list(zip(profile_id_list, full_name_list))

    mentor_df.at[i, 'mentee_rec_1'] = mentee_suggestions[0]
    mentor_df.at[i, 'mentee_rec_2'] = mentee_suggestions[1]
    mentor_df.at[i, 'mentee_rec_3'] = mentee_suggestions[2]
    mentor_df.at[i, 'mentee_rec_4'] = mentee_suggestions[3]
    mentor_df.at[i, 'mentee_rec_5'] = mentee_suggestions[4]

# Condense Mentor dataframe back down to its original parameters + Mentee recommendations

In [17]:
mentor_df = mentor_df[[
    'profile_id',
    'skills',
    'career_capable',
    'skill_rank',
    'time_zone',
    'mentee_rec_1',
    'mentee_rec_2',
    'mentee_rec_3',
    'mentee_rec_4',
    'mentee_rec_5',
    ]]

In [18]:
mentor_df.head(3)

           profile_id  ...                       mentee_rec_5
0  O11568681042301923  ...  (E68225235357276, Bryant Jackson)
1  O56009857100422080  ...    (E57929500851653, Holden Davis)
2  O39983176878110705  ...   (E6023625625405, Mordechai Cook)

[3 rows x 10 columns]

# Performance Testing
### Is the algorithm working?

In [19]:
first_mentor_skills = mentor_df['skills'].head(1)
first_mentor_skills

0    [JavaScript]
Name: skills, dtype: object

### View mentee recommendations for first mentor

In [20]:
mentor_df[['mentee_rec_1', 'mentee_rec_2', 'mentee_rec_3',
          'mentee_rec_4', 'mentee_rec_5']].head(1)

                       mentee_rec_1  ...                       mentee_rec_5
0  (E51773864413992, Brendan Evans)  ...  (E68225235357276, Bryant Jackson)

[1 rows x 5 columns]

In [21]:
# Get each mentee's profile id

mentee_rec_1_profile_id = mentor_df.at[0, 'mentee_rec_1'][0]
mentee_rec_2_profile_id = mentor_df.at[0, 'mentee_rec_2'][0]
mentee_rec_3_profile_id = mentor_df.at[0, 'mentee_rec_3'][0]
mentee_rec_4_profile_id = mentor_df.at[0, 'mentee_rec_4'][0]
mentee_rec_5_profile_id = mentor_df.at[0, 'mentee_rec_5'][0]

## Now let's look at each suggested mentee and their desired skills

In [22]:
mentee_1_df = mentee_df[mentee_df['profile_id'] == mentee_rec_1_profile_id]
mentee_2_df = mentee_df[mentee_df['profile_id'] == mentee_rec_2_profile_id]
mentee_3_df = mentee_df[mentee_df['profile_id'] == mentee_rec_3_profile_id]
mentee_4_df = mentee_df[mentee_df['profile_id'] == mentee_rec_4_profile_id]
mentee_5_df = mentee_df[mentee_df['profile_id'] == mentee_rec_5_profile_id]

In [23]:
# Combine mentees into 1 dataframe

m = [mentee_1_df, mentee_2_df, mentee_3_df, mentee_4_df, mentee_5_df]
mentee_recs = m[0]
for _ in m[1:]:
    mentee_recs = mentee_recs.append(_)

# Mentee Desired Skills

mentee_recs[['profile_id', 'full_name', 'desired_skills']]

          profile_id        full_name                 desired_skills
145  E51773864413992    Brendan Evans      [Angular, C#, JavaScript]
126  E48201694017794      Jonah Kelly  [MongoDB, JavaScript, Python]
137  E22165547870165  Mohammad Wright         [CSS, JavaScript, C++]
44   E39710432586630     Warren Brown      [Ruby, NoSQL, JavaScript]
101  E68225235357276   Bryant Jackson         [JavaScript, C++, PHP]

In [24]:
# Mentor skills

mentor_df['skills'].head(1)

0    [JavaScript]
Name: skills, dtype: object

## Results will vary but there should be at least 1 matching skill between each mentee and mentor.